@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/



    /*------------
        Header
    ------------*/
    header
    {
        position: fixed;
        z-index: 101;
        top: 0;
        right: 100%;
        left: auto;

        width: 325px;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 0;

        transition: transform .3s linear;

        background: var(--bg);
    }


    header.show
    {
        transform: translateX(100%);
    }


    header .scroll
    {
        display: flex;
        overflow: auto;
        flex-direction: column;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding-block: var(--cont_padding);

        overscroll-behavior-y: contain;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }
}
