@media (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --cont_padding: 20px;
        --font_size_title_b: 33px;
        --font_size_title: 25px;
        --font_size_title_s: 22px;
        --font_size_title_xs: 19px;
        --inner_gap_b: 20px;
        --outside_gap: 60px;
        --outside_gap_m: 48px;
        --border_radius_b: 32px;
        --border_radius: 24px;
        --border_radius_m: 20px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        justify-content: center;

        width: 100%;
    }



    /*---------------------
        Grid row bottom
    ---------------------*/
    .grid_row_bottom
    {
        margin-top: var(--block_head_offset);
    }


    .grid_row_bottom .limit
    {
        justify-content: center;

        width: 100%;
    }



    /*------------
        Header
    ------------*/
    header
    {
        position: fixed;
        top: 0;
        right: 100%;
        left: auto;

        width: 325px;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 0;

        z-index: 101;
        transition: transform .3s linear;

        background: var(--bg);
    }


    header.show
    {
        transform: translateX(100%);
    }


    header .scroll
    {
        display: flex;
        overflow: auto;
        flex-direction: column;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding-block: var(--cont_padding);

        overscroll-behavior-y: contain;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*---------------
        Page head
    ---------------*/
    .breadcrumbs
    {
        font-size: var(--font_size_xs);
        line-height: 1;
    }


    .breadcrumbs .sep
    {
        width: 16px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head.row .title
    {
        max-width: 100%;
    }



    /*------------------
        Form elements
    ------------------*/
    .form
    {
        --form_input_height: 52px;
    }


    .form .columns > *,
    .form .columns > *.width1of3
    {
        width: calc(100% - var(--form_columns_gap));
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        min-height: 440px;
        padding-block: var(--cont_padding_double) var(--block_padding);
    }


    .first_section .title
    {
        width: 100%;
        max-width: 100%;
    }


    .first_section .btns
    {
        flex-direction: column;
        flex-wrap: wrap;
    }



    .first_section .pluses
    {
        margin-top: var(--cont_padding_double);
    }


    .first_section .pluses .sub_title
    {
        display: none;
    }


    .first_section .pluses .grid_row
    {
        --gap_x: var(--inner_gap_b);
        --gap_y: var(--inner_gap_b);
        gap: 0;
        --items_per_line: 2;
    }


    .first_section .pluses .grid_row > *
    {
        width: calc(100% / var(--items_per_line) * var(--width_multiplier, 1) - var(--gap_x));
    }


    .first_section .pluses .grid_row > *:first-child
    {
        --width_multiplier: 2;
    }


    .first_section .pluses .item
    {
        font-size: var(--font_size);
    }



    /*----------------
        About info
    ----------------*/
    .about_info .head .free,
    .about_info .head .total_area
    {
        width: 100%;
    }



    .about_info .row .data
    {
        width: 100%;
        padding-block: var(--inner_gap_b);
    }



    /*-----------
        Stats
    -----------*/
    .stats .data
    {
        padding-inline: var(--inner_gap_b);
    }


    .stats .grid_row
    {
        --gap_x: var(--inner_gap_b);
        --items_per_line: 2;
    }



    /*----------------
        Directions
    ----------------*/
    .directions .grid
    {
        display: flex;
        flex-direction: column;
    }


    .directions .item + .item
    {
        margin-top: var(--inner_gap_b);
    }


    .directions .item .thumb,
    .directions .item:nth-child(4) .thumb
    {
        top: -32px;
        right: 7px;

        width: 120px;
    }



    .directions .action_form .data
    {
        padding-inline: var(--inner_gap_b);
        padding-bottom: var(--inner_gap_b);
    }



    /*------------------
        Microclimate
    ------------------*/
    .microclimate
    {
        padding-bottom: 240px;
    }


    .microclimate .grid
    {
        display: flex;
        flex-direction: column;

        gap: var(--inner_gap);
    }


    .microclimate .item
    {
        min-height: 0;
    }


    .microclimate .item .plus
    {
        right: 0;
        left: auto;

        transform: translate(calc(50% - var(--inner_gap) / 2), calc(-50% - var(--inner_gap) / 2));
    }


    .microclimate > .bg
    {
        height: 640px;
    }



    /*----------
        Goal
    ----------*/
    .goal .block_head
    {
        margin-bottom: var(--inner_gap_b);
    }


    .goal .precision
    {
        width: 100%;
    }


    .goal .text_block
    {
        width: 100%;
        max-width: 100%;
    }


    .goal .info
    {
        padding: var(--inner_gap_b);
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .data
    {
        padding-inline: var(--inner_gap_b);
        padding-bottom: var(--inner_gap_b);
    }



    /*-----------------
        Partnership
    -----------------*/
    .partnership .grid_row > *
    {
        width: 320px;
    }


    .partnership .item .result
    {
        font-size: var(--font_size_s);
    }



    /*------------------
        Free consult
    ------------------*/
    .free_consult .info
    {
        width: 100%;

        gap: var(--inner_gap_b);
    }


    .free_consult .form
    {
        width: 100%;
        margin-top: var(--block_padding);
    }



    /*------------------
        Technologies
    ------------------*/
    .technologies .grid_row
    {
        --items_per_line: 1;
    }


    .technologies .item
    {
        min-height: 0;
    }


    .technologies .we
    {
        padding-block: 160px var(--inner_gap_b);
    }


    .technologies .we .image
    {
        top: -20px;
    }



    /*----------------
        Warranties
    ----------------*/
    .warranties .data
    {
        padding-inline: var(--inner_gap_b);
    }


    .warranties .grid_row
    {
        --items_per_line: 1;
        --gap_x: var(--inner_gap_s);
        --gap_y: var(--inner_gap_s);
    }



    /*-----------
        Certs
    -----------*/
    .certs .grid_row,
    .certs .grid_row.big_offsets
    {
        --items_per_line: 2;
    }



    /*----------------
        Error page
    ----------------*/
    .error_page .data .image
    {
        height: 180px;
    }


    .error_page .data .image img
    {
        top: -20px;

        width: auto;
        height: 224px;
    }


    .error_page .data .title
    {
        margin-top: var(--block_padding);
    }


    .error_page .data .title,
    .error_page .data .desc
    {
        width: 100%;
        margin-left: 0;

        text-align: center;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .info .grid_row
    {
        --items_per_line: 1;
    }



    /*----------------
        Requisites
    ----------------*/
    .requisites .sub_title
    {
        margin-block: var(--inner_gap);
    }



    /*--------------
        Feedback
    --------------*/
    .feedback .data
    {
        padding-inline: var(--inner_gap_b);
        padding-bottom: var(--inner_gap_b);
    }



    /*----------------------
        Warranty install
    ----------------------*/
    .warranty_install .items > *
    {
        padding: var(--inner_gap_m);
    }



    /*-------------------
        Save warranty
    -------------------*/
    .save_warranty .grid_row
    {
        --items_per_line: 1;
    }



    /*-------------------------
        Payment individuals
    -------------------------*/
    .payment_individuals .thumb
    {
        width: 140px;
    }


    .payment_individuals .block_head
    {
        width: 100%;
        margin-bottom: var(--inner_gap);
    }


    .payment_individuals .methods .grid_row
    {
        --gap_y: var(--block_padding);
        --items_per_line: 1;
    }


    .payment_individuals .methods .item
    {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        gap: var(--inner_gap_m);
    }


    .payment_individuals .methods .icon
    {
        width: 60px;
        margin-bottom: 0;
    }


    .payment_individuals .methods .icon svg
    {
        width: 24px;
    }


    .payment_individuals .methods .name
    {
        align-self: center;

        width: calc(100% - 76px);
    }


    .payment_individuals .methods .desc
    {
        width: 100%;
    }



    .payment_individuals .prepayment > *:not(.icon)
    {
        width: 100%;
    }


    .payment_individuals .prepayment .icon
    {
        display: none;
    }



    /*--------------------
        Payment legals
    --------------------*/
    .payment_legals .thumb
    {
        width: 140px;
    }


    .payment_legals .block_head
    {
        width: 100%;
        margin-bottom: var(--inner_gap);
    }


    .payment_legals .items > *
    {
        padding: var(--inner_gap_m);
    }



    /*------------------
        Measurements
    ------------------*/
    .measurements .data
    {
        padding-inline: var(--inner_gap_b);
    }


    .measurements .btns
    {
        flex-direction: column;
        flex-wrap: wrap;
    }


    .measurements .image
    {
        width: 100%;
    }


    .measurements .info
    {
        width: 100%;
    }


    .measurements .info ol li
    {
        min-height: 48px;
        padding-left: 64px;
    }


    .measurements .info ol li:before
    {
        width: 48px;

        font-size: 19px;
    }



    /*--------------
        Delivery
    --------------*/
    .delivery .data
    {
        padding-inline: var(--inner_gap_b);
        padding-bottom: var(--inner_gap_b);
    }


    .delivery .item
    {
        width: 100%;
    }


    .delivery .item.blue
    {
        min-height: 0;
        padding-block: 132px var(--inner_gap_b);
        padding-inline: var(--inner_gap_b);
    }


    .delivery .item .desc
    {
        min-height: 4lh;
    }


    .delivery .item .thumb
    {
        top: var(--block_padding);
        right: 0;
        left: 0;

        width: 240px;
        margin-inline: auto;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .grid_row
    {
        --items_per_line: 2;
    }



    /*-----------------
        Reviews page
    -----------------*/
    .reviews_page .grid_row > *.stats
    {
        padding-block: var(--inner_gap_m);

        --width_multiplier: 2;
    }


    .reviews_page .stats .grid_row
    {
        --items_per_line: 1;
    }


    .reviews_page .stats .item .val
    {
        font-size: 22px;
    }



    /*--------------------
        Letters thanks
    --------------------*/
    .letters_thanks .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_b);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .letters_thanks .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .letters_thanks .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .letters_thanks .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*---------------------
        Private reviews
    ---------------------*/
    .private_reviews .grid_row
    {
        --items_per_line: 1;
    }


    .private_reviews .review
    {
        padding-block: var(--inner_gap_b);
    }



    /*----------------
        Add review
    ----------------*/
    .add_review .data
    {
        padding-inline: var(--inner_gap_b);
    }



    /*----------------------
        Partnership head
    ----------------------*/
    .partnership_head .data
    {
        padding-inline: var(--inner_gap_b);
    }


    .partnership_head .requests .grid_row
    {
        --items_per_line: 1;
    }


    .partnership_head .requests .item .icon
    {
        width: 52px;
    }


    .partnership_head .requests .item .icon svg
    {
        width: 24px;
    }



    /*------------
        Brands
    ------------*/
    .brands .tabs
    {
        display: grid;
        overflow: auto;
        justify-content: flex-start;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0 var(--inner_gap_m);
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .brands .tabs::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .brands .tabs::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .brands .tabs .btn
    {
        scroll-snap-align: start;
    }


    .brands .grid_row
    {
        --items_per_line: 2;
    }


    .brands .grid_row > *.desc
    {
        --width_multiplier: 2px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .item
    {
        padding-block: 100px var(--inner_gap_b);
    }


    .why_we .item .thumb
    {
        width: 180px;
    }



    /*-----------
        Cases
    -----------*/
    .cases_page .cont > .grid_row
    {
        --items_per_line: 1;
    }



    /*----------------
        About head
    ----------------*/
    .about_head .info
    {
        padding: var(--inner_gap);
    }



    /*-----------
        Trust
    -----------*/
    .trust .grid_row
    {
        --items_per_line: 1;
    }



    /*--------------
        For whom
    --------------*/
    .for_whom .item
    {
        padding-top: var(--inner_gap);
    }



    /*-------------------
        Photo gallery
    -------------------*/
    .photo_gallery .swiper-slide
    {
        width: 160px;
    }


    .photo_gallery .swiper-button-next,
    .photo_gallery .swiper-button-prev
    {
        display: none;
    }



    /*------------------
        Project info
    ------------------*/
    .project_info:before
    {
        height: calc(100% - 240px);
    }


    .project_info .solution .grid_row,
    .project_info .difficulties .grid_row
    {
        --items_per_line: 1;
    }


    .project_info .solution .item .name
    {
        min-height: 0;
    }



    /*------------
        Footer
    ------------*/
    footer .info .row + .row
    {
        justify-content: center;

        width: 100%;
    }


    footer .logo
    {
        margin-inline: auto;
    }


    footer .logo img
    {
        width: 172px;
        height: 36px;
    }


    footer .slogan
    {
        width: 100%;
        margin-top: var(--inner_gap_s);
        margin-left: 0;

        text-align: center;
    }


    footer .messengers
    {
        margin-left: var(--inner_gap_s);
    }


    footer .messengers .label
    {
        display: none;
    }


    footer .btns
    {
        width: 100%;
    }


    footer .menu
    {
        width: 100%;
        max-width: 100%;

        text-align: center;
    }


    footer .menu .title br
    {
        display: none;
    }


    footer .copyright
    {
        text-align: center;
    }


    footer .links
    {
        align-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;

        gap: var(--inner_gap_s);
    }


    footer .creator
    {
        width: 100%;

        text-align: center;
    }
}
