@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_b: 18px;
        --font_size: 16px;
        --font_size_m: 14px;
        --font_size_s: 14px;
        --font_size_ss: 12px;
        --font_size_title_b: 48px;
        --font_size_title: 40px;
        --font_size_title_s: 32px;
        --font_size_title_ss: 24px;
        --outside_gap: 100px;
        --inner_gap_b: 24px;
        --inner_gap: 20px;
        --inner_gap_m: 16px;
        --inner_gap_s: 8px;
        --border_radius_b: 34px;
        --border_radius: 28px;
    }



    /*--------------
        All link
    --------------*/
    .all_link
    {
        margin-top: var(--block_padding);
    }


    .all_link .arrow
    {
        width: 52px;
    }



    /*------------
        Header
    ------------*/
    header .top
    {
        padding-block: var(--inner_gap_s);
    }


    header .bottom
    {
        padding-inline: var(--cont_padding) 4px;
    }



    header .logo img
    {
        width: 181px;
        height: 38px;
    }



    header .slogan
    {
        width: auto;
    }



    header .contacts
    {
        margin-left: var(--inner_gap_m);
    }



    header .btns
    {
        margin-left: var(--inner_gap_m);
    }


    header .btns .btn
    {
        width: 168px;
    }



    header .solutions_menu
    {
        min-height: 52px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form
    {
        --form_input_height: 60px;
    }


    .form .submit_btn .arrow
    {
        width: 52px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        min-height: 650px;
        padding-block: 224px 40px;
    }



    .first_section .title
    {
        width: 760px;
        max-width: calc(100% - 388px);
    }



    .first_section .btns
    {
        width: 340px;

        gap: var(--inner_gap_m);
    }


    .first_section .btns .btn
    {
        height: 68px;
    }


    .first_section .btns .btn .icon
    {
        width: 24px;
    }


    .first_section .btns .btn .arrow
    {
        width: 52px;
    }



    .first_section .pluses .sub_title
    {
        width: 344px;
    }


    .first_section .grid_row
    {
        gap: 60px;
    }



    /*------------
        Stores
    ------------*/
    .stores .swiper-button-next,
    .stores .swiper-button-prev
    {
        width: 68px;
    }


    .stores .thumb
    {
        width: 100px;

        border-width: 2px;
        border-radius: var(--border_radius_m);
    }


    .stores .thumb.border
    {
        box-shadow: 0 0 0 3px var(--secondary_color);
    }



    /*----------------
        About info
    ----------------*/
    .about_info .head .block_head
    {
        width: 312px;
    }


    .about_info .head .free
    {
        width: 400px;
        height: 168px;

        border-radius: 0 var(--border_radius_b) var(--border_radius_b) var(--border_radius_b);
    }


    .about_info .head .total_area
    {
        width: 400px;
        height: 168px;
        padding-inline: var(--block_padding);

        border-radius: var(--border_radius_b) var(--border_radius_b) var(--border_radius_b) 0;
    }


    .about_info .head .total_area .val
    {
        font-size: 60px;
        line-height: calc(100% + 8px);
    }



    .about_info .row .data
    {
        width: calc(100% - 772px);
        padding-block: var(--block_padding);
        padding-inline: var(--block_padding);
    }


    .about_info .row .data .btn
    {
        min-height: 68px;
        margin-top: var(--cont_padding_double);
    }


    .about_info .row .data .btn .arrow
    {
        width: 52px;
    }


    .about_info .row .image
    {
        width: 324px;
    }


    .about_info .row .info
    {
        width: 400px;
        padding-block: var(--block_padding);
        padding-inline: var(--block_padding);
    }



    /*------------------
        Object types
    ------------------*/
    .object_types .block_head .title
    {
        width: 732px;
    }


    .object_types .block_head .desc
    {
        width: 500px;
    }



    .object_types .type
    {
        gap: var(--inner_gap);
    }


    .object_types .type .exp
    {
        margin-bottom: calc(var(--inner_gap_s) * -1);
    }


    .object_types .type .thumb
    {
        border-radius: var(--border_radius_m);
    }


    .object_types .type .thumb .arrow
    {
        top: var(--inner_gap_s);
        right: var(--inner_gap_s);

        width: 52px;
    }


    .object_types .type .thumb .sticker
    {
        bottom: var(--inner_gap_s);
        left: var(--inner_gap_s);

        padding-block: 4px;
        padding-inline: var(--inner_gap_s);
    }



    /*----------------
        Directions
    ----------------*/
    .directions .item,
    .directions .item:nth-child(4)
    {
        min-height: 280px;
    }


    .directions .item .thumb,
    .directions .item:nth-child(4) .thumb
    {
        width: 160px;
    }


    .directions .item .arrow
    {
        right: var(--inner_gap_m);
        bottom: var(--inner_gap_m);

        width: 52px;
    }



    .directions .action_form .data
    {
        min-height: 280px;
        padding-inline: var(--inner_gap_b);
    }


    .directions .action_form .form .columns
    {
        width: calc(100% - 248px);
    }


    .directions .action_form .form .submit
    {
        width: 248px;
    }



    /*------------------
        Microclimate
    ------------------*/
    .microclimate .row
    {
        --info_width: 320px;
    }



    .microclimate .item
    {
        min-height: 220px;
    }


    .microclimate .item.info
    {
        min-height: 520px;
    }


    .microclimate .item .plus
    {
        width: 72px;
    }


    .microclimate .item.info .btn
    {
        min-height: 68px;
    }


    .microclimate .item.info .btn .arrow
    {
        width: 52px;
    }



    /*-----------
        Steps
    -----------*/
    .steps .block_head .title
    {
        width: 648px;
    }


    .steps .block_head .desc
    {
        width: 460px;
        margin-top: var(--inner_gap_s);
    }



    .steps .tabs .btn
    {
        --number_size: 44px;
    }



    .steps .data
    {
        width: calc(100% - 360px - var(--cont_padding_double));
        max-width: calc(100% - 360px - var(--cont_padding_double));
    }


    .steps .data .btn
    {
        min-height: 68px;
    }


    .steps .data .btn .arrow
    {
        width: 52px;
        min-width: 52px;
    }



    .steps .image
    {
        width: 360px;
    }



    /*----------
        Goal
    ----------*/
    .goal .data
    {
        width: calc(100% - 488px);
    }


    .goal .block_head
    {
        margin-bottom: var(--cont_padding_double);
    }


    .goal .precision
    {
        width: 400px;
        max-width: calc(100% - 384px);
        padding-block: var(--inner_gap_b);
        padding-inline: var(--inner_gap_b);
    }


    .goal .text_block
    {
        width: 360px;
    }


    .goal .info
    {
        width: 440px;
        padding-block: var(--block_padding);
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .data
    {
        padding-inline: var(--cont_padding_double);
    }


    .action_form .form .columns
    {
        width: calc(100% - 300px);
    }


    .action_form .form .submit
    {
        width: 300px;
    }



    /*-----------------
        Partnership
    -----------------*/
    .partnership .block_head .title
    {
        width: calc(100% - 688px);
    }


    .partnership .block_head .desc
    {
        width: 640px;
    }


    .partnership .item .image
    {
        width: 100%;

        border-radius: var(--border_radius) 0 var(--border_radius) var(--border_radius);
    }



    /*------------------
        Free consult
    ------------------*/
    .free_consult .image
    {
        width: 360px;
        min-height: 220px;
    }


    .free_consult .info
    {
        width: calc(100% - 776px);
    }


    .free_consult .form
    {
        width: 320px;
    }



    /*------------------
        Technologies
    ------------------*/
    .technologies .item
    {
        min-height: 220px;
    }


    .technologies .we
    {
        padding-block: 100px var(--inner_gap_b);
    }


    .technologies .we .image
    {
        top: -132px;

        width: 268px;
    }


    .technologies .exp
    {
        margin-top: var(--block_padding);
    }



    /*-----------
        Stats
    -----------*/
    .stats .data
    {
        padding-block: var(--cont_padding_double);
        padding-inline: var(--cont_padding_double);
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .data
    {
        padding-inline: var(--cont_padding_double);
    }


    .reviews .data:before
    {
        height: calc(100% - 180px - var(--inner_gap_b));
    }


    .reviews .all_link
    {
        padding-inline: var(--cont_padding_double);
    }



    /*------------
        Brands
    ------------*/
    .brands .swiper-slide
    {
        width: 220px;
    }


    .brands .item .logo
    {
        height: 100px;
    }



    /*----------------
        Warranties
    ----------------*/
    .warranties .data
    {
        padding-block: var(--cont_padding_double);
        padding-inline: var(--cont_padding_double);
    }


    .warranties .item .icon
    {
        width: 52px;
        min-width: 52px;
    }



    /*-----------
        Certs
    -----------*/
    .certs .data
    {
        padding-inline: var(--cont_padding_double);
    }


    .certs .all_link
    {
        padding-inline: var(--cont_padding_double);
    }



    /*------------
        Footer
    ------------*/
    footer .data
    {
        padding-block: var(--cont_padding_double);
    }


    footer .data .cont
    {
        gap: var(--cont_padding_double);
    }


    footer .bottom
    {
        padding-block: var(--inner_gap_m);
    }



    footer .info
    {
        width: 384px;
    }


    footer .info .row + .row
    {
        margin-top: 60px;
    }



    footer .menu
    {
        width: auto;
        max-width: 200px;
    }
}
