@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/
    .swiper-button-prev
    {
        margin-right: 79px !important;
    }


    .swiper-button-next
    {
        margin-right: var(--inner_gap) !important;
    }



    /*--------------
        All link
    --------------*/
    .all_link a
    {
        padding-block: var(--inner_gap_xs);
        padding-inline: var(--inner_gap_xl) var(--inner_gap_xs);

        border-radius: var(--border_radius_l);
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head
    {
        padding-inline: var(--inner_gap_xl) var(--inner_gap_s);
    }


    .accordion_item .data
    {
        padding-inline: var(--block_padding) var(--inner_gap_s);
    }



    /*------------
        Header
    ------------*/
    header .data.absolute
    {
        padding-block: var(--inner_gap) 0;

        gap: var(--inner_gap_xl);
    }



    header .bottom
    {
        padding-block: 4px;
        padding-inline: var(--inner_gap_m) 4px;

        border-radius: 0 100px 100px;
    }


    header .bottom .bg
    {
        border-radius: 0 var(--border_radius) var(--border_radius);
    }



    header .location
    {
        width: auto;
    }



    header .contacts
    {
        min-width: 0;
        margin-left: var(--inner_gap);
    }



    header .btns
    {
        margin-left: var(--inner_gap_xl);
    }


    header .btns .btn
    {
        width: 200px;
    }



    header .services_menu
    {
        gap: 0;
    }


    header .services_menu .sub
    {
        padding-inline: var(--block_padding);

        gap: 60px;
    }


    header .services_menu .sub > *
    {
        width: 320px;

        gap: 60px;
    }


    header .services_menu .sub .items
    {
        font-size: var(--font_size_m);
    }



    header .solutions_menu
    {
        min-height: 60px;
        padding-inline: var(--inner_gap_xl) var(--inner_gap_xs);

        border-radius: var(--border_radius_l);
    }


    header .solutions_menu .items
    {
        gap: 0;
    }


    header .solutions_menu .items a
    {
        gap: var(--inner_gap_s);
    }


    header .solutions_menu .sub
    {
        width: 400px;
        padding-inline: var(--block_padding);

        gap: var(--inner_gap);
    }



    /*------------------
        Form elements
    ------------------*/
    .form .agree
    {
        margin-top: var(--inner_gap);
    }



    /*----------------
        Typography
    ----------------*/
    .text_block > *
    {
        margin-bottom: var(--inner_gap);
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: var(--inner_gap_xl);
    }


    .first_section .cont
    {
        min-height: 748px;
        padding-block: 262px 48px;
    }



    .first_section .title
    {
        margin-top: 0;
    }



    .first_section .btns
    {
        width: 360px;

        gap: 20px;
    }


    .first_section .btns .btn
    {
        height: 72px;

        border-radius: var(--border_radius_l);

        gap: var(--inner_gap);
    }



    .first_section .pluses .sub_title
    {
        width: 380px;
    }


    .first_section .pluses .grid_row
    {
        gap: 68px;
    }


    .first_section .pluses .item
    {
        gap: var(--inner_gap_s);
    }



    /*------------
        Stores
    ------------*/
    .stores
    {
        margin-bottom: var(--inner_gap_xl);
    }


    .stores .swiper-button-next,
    .stores .swiper-button-prev
    {
        width: 80px;
    }


    .stores .thumb
    {
        width: 120px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .head
    {
        gap: var(--inner_gap);
    }


    .about_info .head .block_head
    {
        width: 360px;
    }


    .about_info .head .free
    {
        width: 440px;
        height: 200px;

        border-radius: 0 48px 48px 48px;
    }


    .about_info .head .total_area
    {
        width: 480px;
        height: 200px;
        padding-inline: 48px;

        border-radius: 48px 48px 48px 0;
    }


    .about_info .head .total_area .val
    {
        font-size: 72px;
        line-height: calc(100% + 10px);
    }



    .about_info .row
    {
        margin-top: calc(var(--block_padding) * 2);
    }



    .about_info .row .data
    {
        width: calc(100% - 888px);
        padding-block: 48px;
        padding-inline: 48px;

        border-radius: var(--border_radius_l) var(--border_radius_s) var(--border_radius_l) var(--border_radius_l);
    }


    .about_info .row .data .btn
    {
        margin-top: 60px;

        gap: var(--inner_gap);
    }


    .about_info .row .image
    {
        width: 380px;
    }


    .about_info .row .info
    {
        width: 460px;
        padding-block: 48px;
        padding-inline: 48px;
    }



    /*------------------
        Object types
    ------------------*/
    .object_types .block_head .title
    {
        width: 800px;
    }


    .object_types .block_head .desc
    {
        width: 600px;
    }


    .object_types .type .thumb .arrow
    {
        top: var(--inner_gap_s);
        right: var(--inner_gap_s);

        width: 60px;
    }



    /*----------------
        Directions
    ----------------*/
    .directions .item,
    .directions .item:nth-child(4)
    {
        min-height: 324px;
        padding: var(--inner_gap_xl);

        gap: var(--inner_gap);
    }


    .directions .item .thumb,
    .directions .item:nth-child(4) .thumb
    {
        top: -40px;
        right: 0;

        width: 172px;
    }


    .directions .item .desc br
    {
        display: none;
    }


    .directions .item .arrow
    {
        right: 20px;
        bottom: 20px;

        width: 60px;
    }



    .directions .action_form .data
    {
        min-height: 324px;
        padding-block: var(--cont_padding_double);
        padding-inline: var(--cont_padding_double);
    }


    .directions .action_form .form .columns
    {
        width: calc(100% - 300px);
    }


    .directions .action_form .form .submit
    {
        width: 300px;
    }



    /*------------------
        Microclimate
    ------------------*/
    .microclimate
    {
        padding-top: 0;
    }


    .microclimate .row
    {
        --info_width: 380px;
    }



    .microclimate .item
    {
        min-height: 240px;
        padding: var(--inner_gap_xl);
    }


    .microclimate .item.info
    {
        min-height: 600px;
    }


    .microclimate .item.info .btn
    {
        gap: var(--inner_gap_m);
    }


    .microclimate .item .plus
    {
        width: 80px;
    }


    .microclimate .item .plus .icon
    {
        width: 24px;
    }



    .microclimate > .bg
    {
        border-radius: var(--border_radius_l);
    }



    /*-----------
        Steps
    -----------*/
    .steps .block_head .title
    {
        width: 800px;
    }


    .steps .block_head .title.big_w
    {
        width: 948px;
    }


    .steps .block_head .desc
    {
        width: 500px;
    }



    .steps .tabs .btn
    {
        padding-block: var(--inner_gap_xs);
        padding-inline: var(--inner_gap_xs);

        font-size: var(--font_size);

        --number_size: 48px;
    }


    .steps .tabs .inner
    {
        padding-block: var(--inner_gap_xs);
        padding-inline: var(--inner_gap_xs);
    }


    .steps .tabs .btn.small
    {
        font-size: calc(var(--font_size) - 1px);
    }


    .steps .tabs .btn.smallest
    {
        font-size: calc(var(--font_size) - 2px);
    }



    .steps .tab_content.active,
    .steps .tab_content.big_pad.active
    {
        padding-block: var(--block_padding);
        padding-inline: var(--block_padding);
    }



    .steps .data
    {
        width: 800px;
        max-width: calc(100% - 420px - var(--cont_padding_double));
    }


    .steps .data .btn
    {
        gap: var(--inner_gap);
    }



    .steps .image
    {
        width: 420px;
    }


    .steps .image.small_w
    {
        width: 380px;
    }



    /*----------
        Goal
    ----------*/
    .goal .data
    {
        width: calc(100% - 568px);

        gap: var(--inner_gap);
    }


    .goal .block_head
    {
        margin-bottom: 60px;
    }


    .goal .precision
    {
        width: 460px;
        max-width: calc(100% - 424px);
        padding-block: var(--block_padding);
        padding-inline: var(--block_padding);

        gap: var(--inner_gap);
    }


    .goal .text_block
    {
        width: 400px;
    }


    .goal .info
    {
        width: 520px;
        padding-block: var(--cont_padding_double);
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .data
    {
        padding-block: var(--cont_padding_double);
        padding-inline: 80px;
    }


    .action_form .form .columns
    {
        width: calc(100% - 340px);
    }


    .action_form .form .submit
    {
        width: 340px;
    }



    /*-----------------
        Partnership
    -----------------*/
    .partnership .block_head .title
    {
        width: calc(100% - 860px);
    }


    .partnership .block_head .desc
    {
        width: 780px;
    }


    .partnership .sub_title
    {
        margin-bottom: var(--inner_gap);
    }


    .partnership .item .name
    {
        font-size: var(--font_size_title_xs);
    }


    .partnership .item .image
    {
        width: 380px;
    }


    .partnership .item .result
    {
        font-size: var(--font_size);
    }



    /*------------------
        Free consult
    ------------------*/
    .free_consult .image
    {
        width: 400px;
        min-height: 260px;
    }


    .free_consult .info
    {
        width: calc(100% - 856px);

        gap: var(--block_padding);
    }


    .free_consult .form
    {
        width: 360px;
    }



    /*-----------
        Cases
    -----------*/
    .cases .cont > .grid_row
    {
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap);
    }


    .cases_page .cont > .grid_row
    {
        --gap_x: var(--inner_gap_xl);
        --gap_y: var(--inner_gap_xl);
    }


    .cases .case .images
    {
        margin-bottom: var(--inner_gap_m);

        gap: var(--inner_gap_xs);
    }


    .cases .case .images .thumbs
    {
        --gap_x: var(--inner_gap_xs);
        --gap_y: var(--inner_gap_xs);
    }


    .cases .case .images .features,
    .cases .case .images .sticker
    {
        bottom: var(--inner_gap_s);
        left: var(--inner_gap_s);

        max-width: calc(100% - var(--cont_padding));
        padding-inline: var(--inner_gap_xs);
    }



    /*------------------
        Technologies
    ------------------*/
    .technologies .item
    {
        min-height: 240px;
        padding-block: var(--inner_gap_xl);
        padding-inline: var(--inner_gap_xl);

        gap: var(--inner_gap);
    }


    .technologies .we
    {
        padding-block: 120px var(--inner_gap_xl);
    }


    .technologies .we .image
    {
        top: -148px;

        width: 300px;
    }



    /*-----------
        Stats
    -----------*/
    .stats .data
    {
        padding-block: 60px;
        padding-inline: 60px;
    }


    .stats .block_head
    {
        padding-bottom: 0;
    }


    .stats .item .val
    {
        line-height: calc(100% + 8px);
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .cont > .data
    {
        padding-block: var(--cont_padding_double) 0;
        padding-inline: 60px;
    }


    .reviews .cont > .data:before
    {
        height: calc(100% - 200px - var(--inner_gap_xl));
    }


    .reviews .grid_row
    {
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap);
    }


    .reviews .review .thumb
    {
        margin-bottom: var(--inner_gap_xs);
    }


    .reviews .all_link
    {
        padding-inline: 60px;
    }



    /*-----------------
        Reviews page
    -----------------*/
    .reviews_page
    {
        padding-top: 40px;
    }


    .reviews_page .grid_row > *.stats
    {
        padding-block: 60px;
    }


    .reviews_page.stats .item .val
    {
        font-size: 40px;
    }



    /*------------
        Brands
    ------------*/
    .brands .tabs .btn
    {
        height: 52px;
    }


    .brands .swiper-slide
    {
        width: 260px;
    }


    .brands .grid_row
    {
        --gap_x: var(--block_padding);
        --gap_y: var(--inner_gap_m);
    }


    .brands .item .logo
    {
        height: 120px;
    }



    /*----------------
        Warranties
    ----------------*/
    .warranties .data
    {
        padding-block: 60px;
        padding-inline: 60px;
    }


    .warranties .grid_row
    {
        --gap_x: var(-inner_gap_m);
        --gap_y: var(-inner_gap_m);
    }


    .warranties .item
    {
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap);

        gap: var(--inner_gap_m);
    }


    .warranties .item .icon
    {
        width: 60px;
        min-width: 60px;
    }


    .warranties .item .icon svg
    {
        width: 24px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article
    {
        gap: var(--inner_gap_m);
    }



    /*-----------
        Certs
    -----------*/
    .certs .data
    {
        padding-block: var(--cont_padding_double) 0;
        padding-inline: 60px;
    }


    .certs .grid_row
    {
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap);
    }


    .certs .grid_row.big_offsets
    {
        --gap_x: var(--block_padding);
        --gap_y: var(--block_padding);
    }



    .certs .all_link
    {
        padding-inline: 60px;
    }



    /*----------------
        Error page
    ----------------*/
    .error_page .data
    {
        width: calc(100% - 692px);
    }


    .error_page .data .image
    {
        border-radius: 60px;
    }


    .error_page .data .image img
    {
        top: -28px;

        width: 574px;
        height: 420px;
    }


    .error_page .data .title,
    .error_page .data .desc
    {
        width: 492px;
        margin-left: 8%;
    }



    .error_page .links
    {
        width: 286px;
    }



    /*----------------------------
        Payment departure head
    ----------------------------*/
    .payment_departure_head
    {
        margin-bottom: 60px;
    }


    .payment_departure_head.block.bg
    {
        padding-block: 40px;
    }



    /*-------------------------
        Payment individuals
    -------------------------*/
    .payment_individuals
    {
        margin-bottom: 60px;
    }


    .payment_individuals .cont
    {
        gap: var(--inner_gap);
    }


    .payment_individuals .thumb
    {
        width: 200px;
    }


    .payment_individuals .block_head
    {
        width: 300px;
    }


    .payment_individuals .data
    {
        width: calc(100% - 596px);
        margin-left: auto;
    }


    .payment_individuals .methods .icon
    {
        width: 80px;
    }


    .payment_individuals .prepayment
    {
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap_xl);
    }


    .payment_individuals .prepayment > *:not(.icon)
    {
        width: calc(100% - 148px);
    }


    .payment_individuals .prepayment .icon
    {
        width: 100px;
    }



    /*--------------------
        Payment legals
    --------------------*/
    .payment_legals
    {
        padding-block: var(--block_padding);
    }


    .payment_legals .cont
    {
        gap: var(--inner_gap);
    }


    .payment_legals .thumb
    {
        width: 200px;
    }


    .payment_legals .block_head
    {
        width: 300px;
    }


    .payment_legals .data
    {
        width: calc(100% - 596px);
        margin-left: auto;
    }



    /*------------------
        Measurements
    ------------------*/
    .measurements .cont
    {
        gap: var(--inner_gap);
    }


    .measurements .data
    {
        width: calc(100% - 1008px);
        padding-block: var(--cont_padding_double);
        padding-inline: var(--block_padding);
    }


    .measurements .image
    {
        width: 480px;
    }


    .measurements .info
    {
        width: 480px;
        padding-block: var(--cont_padding_double);
        padding-inline: var(--cont_padding_double);
    }



    /*--------------
        Delivery
    --------------*/
    .delivery .data
    {
        padding-block: 60px;
        padding-inline: 60px;
    }


    .delivery .item
    {
        width: 340px;
    }


    .delivery .item.blue
    {
        width: calc(100% - 752px);
        padding-inline: 228px var(--cont_padding_double);
    }


    .delivery .item .thumb
    {
        left: -60px;

        width: 280px;
    }



    /*--------------------
        Letters thanks
    --------------------*/
    .letters_thanks .block_head
    {
        width: 500px;

        gap: var(--block_padding);
    }


    .letters_thanks .data
    {
        width: calc(100% - 548px);
    }



    /*---------------------
        Private reviews
    ---------------------*/
    .private_reviews .review
    {
        padding-inline: var(--block_padding);
    }



    /*----------------
        Add review
    ----------------*/
    .add_review .data
    {
        padding-block: 60px;
        padding-inline: 60px;
    }


    .add_review .form .submit_btn
    {
        width: 360px;
    }



    /*----------------------
        Partnership head
    ----------------------*/
    .partnership_head
    {
        padding-top: var(--inner_gap);
    }


    .partnership_head .data
    {
        min-height: 600px;
        padding-block: 60px;
        padding-inline: 60px;

        border-radius: var(--border_radius_l);
    }


    .partnership_head .requests .block_head
    {
        width: 300px;
    }


    .partnership_head .requests .grid_row
    {
        width: calc(960px + var(--inner_gap_m));
    }


    .partnership_head .requests .item
    {
        padding-inline: var(--inner_gap);
    }


    .partnership_head .requests .item .icon svg
    {
        width: 28px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .item
    {
        margin-top: 80px;
        padding-block: 120px var(--cont_padding_double);
        padding-inline: var(--inner_gap);
    }


    .why_we .item .thumb
    {
        top: -80px;

        width: 200px;
    }



    /*----------------
        Cases head
    ----------------*/
    .cases_head
    {
        margin-bottom: 48px;
    }


    .cases_head.block.bg
    {
        padding-block: 40px 16px;
    }



    /*----------------
        About head
    ----------------*/
    .about_head .col
    {
        width: calc(100% - 500px - var(--inner_gap));
    }


    .about_head .info
    {
        width: 500px;
        padding-block: var(--cont_padding_double);
        padding-inline: var(--cont_padding_double);
    }



    /*-----------
        Trust
    -----------*/
    .trust .grid_row
    {
        --gap_x: var(--inner_gap_m);
        --gap_y: var(--inner_gap_m);
    }


    .trust .item
    {
        padding-block: var(--block_padding);
        padding-inline: var(--cont_padding_double);

        border-radius: var(--border_radius_l);
    }


    .trust .item .val
    {
        font-size: 80px;
        line-height: calc(100% + 10px);
    }



    /*-------------------
        Why choose us
    -------------------*/
    .why_choose_us .item
    {
        padding-inline: var(--inner_gap_m);
    }


    .why_choose_us .item:nth-child(1),
    .why_choose_us .item:nth-child(5)
    {
        height: 292px;
    }


    .why_choose_us .item:nth-child(2),
    .why_choose_us .item:nth-child(4)
    {
        height: 316px;
    }


    .why_choose_us .item:nth-child(3)
    {
        height: 340px;
    }



    /*------------------
        Project info
    ------------------*/
    .project_info
    {
        padding-top: var(--block_padding);
    }



    .project_info .project_title
    {
        width: 840px;
        margin-bottom: var(--block_head_offset);
    }



    .project_info .features
    {
        right: calc(var(--cont_padding) + var(--block_padding));

        width: 500px;
        padding-inline: var(--block_padding);
    }



    .project_info .task .info
    {
        width: 668px;
        padding: var(--inner_gap);
    }



    .project_info .solution .col,
    .project_info .difficulties .col,
    .project_info .results .col
    {
        width: 400px;
    }


    .project_info .solution .data,
    .project_info .difficulties .data,
    .project_info .results .data
    {
        width: calc(100% - 448px);
    }


    .project_info .difficulties .item
    {
        padding: var(--inner_gap);
    }



    .project_info .photo_gallery
    {
        margin-top: 80px;
    }



    .project_info .back_link
    {
        margin-top: 60px;
    }


    .project_info .back_link a
    {
        width: 340px;
    }



    /*------------------
        Service head
    ------------------*/
    .service_head
    {
        padding-top: var(--inner_gap_l);
    }


    .service_head .data
    {
        min-height: 600px;
        padding-block: var(--cont_padding_double);
        padding-inline: var(--cont_padding_double);
    }


    .service_head .info,
    .service_head .info.big_w
    {
        width: 848px;

        gap: var(--cont_padding_double);
    }


    .service_head .title small
    {
        font-size: calc(var(--font_size_title_l) - 18px);
    }



    .service_head .btns
    {
        width: 348px;

        gap: var(--inner_gap_m);
    }


    .service_head .btns .btn
    {
        height: 72px;
    }



    .service_head .advantages .row
    {
        width: calc(100% - 348px);
    }


    .service_head .advantages .row.big_w
    {
        width: calc(100% - 268px);
    }


    .service_head .advantages .item
    {
        padding-inline: var(--inner_gap_m);

        --icon_size: 48px;
        gap: var(--inner_gap_m);
    }


    .service_head .advantages .icon + *
    {
        width: calc(100% - var(--icon_size) - var(--inner_gap_m));
    }


    .service_head .advantages .sub_title,
    .service_head .numbers .sub_title
    {
        width: 300px;
    }


    .service_head .advantages .sub_title.small_w
    {
        width: 220px;
    }



    /*-------------
        Objects
    -------------*/
    .objects:not(.block)
    {
        margin-bottom: 60px;
    }


    .objects .item
    {
        padding-block: var(--inner_gap_m) var(--inner_gap_xl);
        padding-inline: var(--inner_gap_m);

        gap: var(--inner_gap);
    }



    /*------------------
        Service when
    ------------------*/
    .service_when .item
    {
        padding-block: var(--inner_gap_m) var(--inner_gap_xl);
        padding-inline: var(--inner_gap_m);

        gap: var(--inner_gap);
    }


    .service_when .item .name br
    {
        display: none;
    }



    .service_when .total
    {
        padding-block: var(--cont_padding_double);
        padding-inline: var(--cont_padding_double);

        font-size: var(--font_size_title_s);
    }



    /*-------------------
        Service steps
    -------------------*/
    .service_steps .bg
    {
        top: -120px;
        right: 0;

        width: 448px;
    }



    .service_steps .data.small
    {
        width: 492px;
    }



    .service_steps .result
    {
        padding: var(--inner_gap);
    }



    .service_steps .what_we_do
    {
        width: calc(100% - 800px);
    }



    /*---------------------
        Service systems
    ---------------------*/
    .service_systems .item
    {
        padding-block: var(--inner_gap_m) var(--inner_gap_xl);
        padding-inline: var(--inner_gap_m);
    }


    .service_systems .item .price
    {
        top: var(--inner_gap);
        right: var(--inner_gap);
    }


    .service_systems .item .data
    {
        padding-block: var(--inner_gap);

        gap: var(--block_padding);
    }



    /*--------------------
        Service prices
    --------------------*/
    .service_prices .data
    {
        padding-block: var(--cont_padding_double) var(--inner_gap);
        padding-inline: var(--inner_gap);
    }


    .service_prices .cols
    {
        gap: var(--inner_gap_s);
    }


    .service_prices .cols .col.small
    {
        width: 180px;
        min-width: 180px;
    }


    .service_prices .cols .col
    {
        width: 284px;
        min-width: 284px;
        padding-block: var(--inner_gap);

        gap: var(--inner_gap_m);
    }



    .service_prices .additional
    {
        margin-top: var(--inner_gap);
        padding-inline: var(--cont_padding_double);
    }


    .service_prices .additional .info,
    .service_prices .additional .info.big
    {
        width: calc(100% - 480px);

        gap: var(--inner_gap);
    }


    .service_prices .additional .exact_cost
    {
        width: 432px;

        gap: var(--block_padding);
    }



    .service_prices .bottom
    {
        margin-top: var(--inner_gap);
    }


    .service_prices .depends
    {
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap);
    }


    .service_prices .depends .items
    {
        gap: var(--inner_gap_xs) var(--inner_gap_s);
    }



    /*--------------------
        Service schema
    --------------------*/
    .service_schema .data
    {
        width: calc(100% - 344px);
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap);
    }


    .service_schema .data .info
    {
        padding-block: var(--inner_gap);
    }


    .service_schema .data .item
    {
        min-height: 199px;

        gap: var(--inner_gap);
    }


    .service_schema .schema
    {
        width: 320px;

        gap: var(--inner_gap);
    }


    .service_schema .schema .grid_row
    {
        --gap_x: var(--inner_gap_s);
        --gap_y: var(--inner_gap_s);
    }


    .service_schema .schema .item
    {
        padding-block: var(--inner_gap_xl);
    }



    /*---------
        FAQ
    ---------*/
    .FAQ .accordion
    {
        gap: var(--inner_gap);
    }


    .FAQ .col
    {
        width: calc(50% - var(--inner_gap) / 2);

        gap: var(--inner_gap_s);
    }



    /*--------------------
        Service modern
    --------------------*/
    .service_modern .block_head .desc
    {
        width: 800px;
    }


    .service_modern .item
    {
        padding-block: var(--block_padding);
        padding-inline: var(--block_padding);
    }


    .service_modern .item .icon
    {
        top: var(--inner_gap_s);
        right: var(--inner_gap_s);
    }


    .service_modern .item .name,
    .service_modern .item .desc
    {
        width: 320px;
    }



    /*----------------------
        Service products
    ----------------------*/
    .service_products .grid_row
    {
        --gap_x: var(--inner_gap);
    }


    .service_products .product
    {
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap);
    }


    .service_products .product .thumb
    {
        top: calc(var(--inner_gap) * -1);
        right: calc(var(--inner_gap_s) * -1);

        width: 180px;
    }


    .service_products .product .desc
    {
        width: 300px;
    }


    .service_products .product .arrow
    {
        bottom: var(--inner_gap);
        left: var(--inner_gap);
    }



    /*--------------------
        Service create
    --------------------*/
    .service_create .block_head .title,
    .service_create .block_head .desc
    {
        width: 560px;
    }


    .service_create .item
    {
        padding-block: var(--cont_padding_double);
        padding-inline: var(--cont_padding_double);

        gap: var(--inner_gap);
    }



    /*---------------------
        Service tariffs
    ---------------------*/
    .service_tariffs .block_head.row .desc
    {
        width: 696px;
    }


    .service_tariffs .item .head .thumb
    {
        height: 324px;
    }


    .service_tariffs .item .head .thumb.small
    {
        height: 300px;
    }


    .service_tariffs .item:not(:has(.bonus))
    {
        padding-bottom: var(--inner_gap_l);
    }


    .service_tariffs .item .head
    {
        height: 400px;
        padding: var(--inner_gap);
        padding-inline: var(--inner_gap);
    }


    .service_tariffs .item .info
    {
        padding-inline: var(--inner_gap);
    }


    .service_tariffs .item .bonus
    {
        padding-block: var(--inner_gap_m);
        padding-inline: var(--inner_gap);
    }



    /*--------------
        Trust us
    --------------*/
    .trust_us .block_head
    {
        padding-bottom: 0;
    }


    .trust_us .item
    {
        padding: var(--inner_gap);
    }



    /*------------------
        Service docs
    ------------------*/
    .service_docs .item
    {
        padding-block: var(--inner_gap_m) var(--inner_gap_xl);
        padding-inline: var(--inner_gap_m);

        gap: var(--inner_gap);
    }



    /*------------------
        Service give
    ------------------*/
    .service_give .block_head .image
    {
        top: calc(var(--cont_padding_double) * -1);
        right: calc(var(--inner_gap) * -1);

        width: 476px;
    }


    .service_give .item
    {
        min-height: 240px;
        padding: var(--inner_gap);
    }



    /*-------------------
        Service risks
    -------------------*/
    .service_risks .block_head .desc
    {
        width: 864px;
    }



    .service_risks .errors
    {
        width: calc(100% - 520px - var(--inner_gap_m));
        padding: var(--block_padding);
    }


    .service_risks .errors .grid_row
    {
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap_xl);
    }


    .service_risks .errors .item .icon
    {
        width: 44px;
        margin-bottom: 0;
    }


    .service_risks .errors .item .icon svg
    {
        width: 20px;
    }



    .service_risks .how_we_do_it
    {
        width: 520px;
    }



    /*-------------------
        Package offer
    -------------------*/
    .package_offer .data
    {
        padding-block: var(--cont_padding_double);
        padding-inline: var(--cont_padding_double);
    }



    .package_offer .info
    {
        width: calc(100% - 448px);

        gap: var(--block_padding);
    }


    .package_offer .block_head .title
    {
        width: 352px;
    }


    .package_offer .block_head .desc
    {
        width: 320px;
    }



    .package_offer .price_info
    {
        width: 400px;
        padding-block: var(--inner_gap) var(--block_padding);
        padding-inline: var(--block_padding);
    }


    .package_offer .price_info .price
    {
        font-size: 36px;
    }


    .package_offer .price_info .price .old
    {
        font-size: 26px;
    }



    /*-----------------
        Service why
    -----------------*/
    .service_why .block_head
    {
        margin-bottom: 72px;
    }


    .service_why .grid_row
    {
        --gap_y: 60px;
    }


    .service_why .item
    {
        padding: 120px var(--inner_gap) var(--inner_gap);
    }


    .service_why .item .thumb
    {
        top: -60px;

        height: 180px;
    }



    /*-------------------
        Service tasks
    -------------------*/
    .service_tasks .block_head
    {
        padding-bottom: 0;
    }


    .service_tasks .block_head .title
    {
        width: calc(100% - 528px);
    }


    .service_tasks .block_head.row .desc
    {
        width: 480px;
    }


    .service_tasks .item
    {
        padding-block: var(--cont_padding_double);
        padding-inline: var(--cont_padding_double);
    }



    /*--------------------------
        Service object types
    --------------------------*/
    .service_object_types .block_head
    {
        gap: var(--cont_padding_double);
    }


    .service_object_types .block_head .image
    {
        height: 90%;
    }


    .service_object_types .item
    {
        padding-block: var(--inner_gap_m) var(--inner_gap_xl);
        padding-inline: var(--inner_gap_m);

        gap: var(--inner_gap);
    }


    .service_object_types .item .info
    {
        padding-inline: var(--inner_gap) 0;
    }



    /*---------------------
        Service typical
    ---------------------*/
    .service_typical .item
    {
        min-height: 0;
        padding-block: var(--inner_gap_xl) var(--inner_gap_m);
        padding-inline: var(--inner_gap_m);

        gap: var(--inner_gap);
    }



    /*--------------------
        Service stages
    --------------------*/
    .service_stages .tabs
    {
        width: calc(100% - 688px);
    }


    .service_stages .tab_content.active
    {
        width: 640px;
        padding-inline: var(--cont_padding_double);
    }



    /*-------------------
        Service signs
    -------------------*/
    .service_signs .item
    {
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap);

        gap: var(--inner_gap_m);
    }



    /*-------------------------
        Service full prices
    -------------------------*/
    .service_full_prices .cont > .block_head .title
    {
        width: 912px;
    }


    .service_full_prices .cont > .block_head .desc
    {
        width: 388px;
    }


    .service_full_prices .item
    {
        padding: var(--inner_gap);
    }


    .service_full_prices .item .number
    {
        width: 80px;
    }


    .service_full_prices .item .info
    {
        width: calc(100% - 760px);
        margin-left: var(--block_padding);
    }


    .service_full_prices .item .info .name
    {
        width: 380px;
    }


    .service_full_prices .item .col
    {
        width: 600px;

        gap: var(--inner_gap);
    }



    /*-----------------
        Maintenance
    -----------------*/
    .maintenance .item
    {
        padding-block: var(--inner_gap_m) var(--inner_gap_xl);
        padding-inline: var(--inner_gap_m);

        gap: var(--inner_gap);
    }


    .maintenance .item .info
    {
        padding-inline: var(--inner_gap) 0;
    }



    /*-----------------------
        Service guarantee
    ----------------------*/
    .service_guarantee .block_head
    {
        padding-bottom: 0;
    }


    .service_guarantee .item
    {
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap);

        gap: var(--inner_gap_m);
    }



    /*-----------------------------
        Subscription advantages
    -----------------------------*/
    .subscription_advantages .item
    {
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap);

        gap: var(--inner_gap_m);
    }



    /*------------------------
        Service advantages
    ------------------------*/
    .service_advantages .block_head
    {
        width: 628px;
    }



    .service_advantages .data
    {
        width: calc(100% - 676px);

        gap: var(--inner_gap);
    }



    .service_advantages .item
    {
        padding: var(--inner_gap);

        gap: var(--inner_gap);
    }


    .service_advantages .item .name
    {
        font-size: var(--font_size_title_xxs);
    }



    /*--------------------
        Service needed
    --------------------*/
    .service_needed .item
    {
        padding-block: var(--inner_gap_m);
        padding-inline: var(--inner_gap_m);
    }


    .service_needed .item .info
    {
        padding-block: var(--inner_gap_m);
        padding-inline: var(--inner_gap) 0;
    }



    /*--------------------
        Price included
    --------------------*/
    .price_included .row
    {
        --base_width: 640px;
    }


    .price_included .base,
    .price_included .additional
    {
        padding: var(--cont_padding_double);
    }


    .price_included .additional .items
    {
        gap: var(--inner_gap_xxs);
    }



    /*---------------------
        Service dangers
    ---------------------*/
    .service_dangers .item
    {
        padding-block: var(--inner_gap_m) var(--inner_gap);
        padding-inline: var(--inner_gap_m);
    }


    .service_dangers .bottom
    {
        margin-top: var(--inner_gap);
        padding-block: var(--inner_gap);
        padding-inline: var(--cont_padding_double);
    }



    /*-------------------
        Service range
    -------------------*/
    .service_range .cont
    {
        gap: var(--inner_gap);
    }


    .service_range .item
    {
        padding: var(--inner_gap);
    }



    /*----------------------
        Service bad/good
    ----------------------*/
    .service_bad_good .item
    {
        padding-inline: var(--inner_gap);
    }


    .service_bad_good .item .title,
    .service_bad_good .item.bad .title
    {
        padding-right: 0;
    }


    .service_bad_good .item .title .icon
    {
        width: 68px;
    }


    .service_bad_good .item .row > *
    {
        width: calc(50% - var(--inner_gap_m) / 2);
    }

    .service_bad_good .item .items
    {
        padding-block: var(--inner_gap);

        gap: var(--inner_gap);
    }



    /*--------------
        Services
    --------------*/
    .services .item
    {
        padding-block: var(--inner_gap_m) var(--inner_gap);
        padding-inline: var(--inner_gap_m);

        gap: var(--inner_gap);
    }



    /*---------------
        Documents
    ---------------*/
    .documents .item
    {
        padding: var(--inner_gap);

        gap: var(--inner_gap_m);
    }



    /*------------
        Footer
    ------------*/
    footer .data
    {
        padding-block: var(--cont_padding_double) 60px;
    }


    footer .data .cont
    {
        gap: 40px;
    }



    footer .bottom
    {
        padding-block: 20px;
    }



    footer .info
    {
        width: 400px;
    }


    footer .info .row + .row
    {
        margin-top: 60px;
    }



    footer .menu
    {
        width: 196px;
    }
}
