@media (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --cont_padding: 20px;
        --font_size_title_l: 33px;
        --font_size_title: 25px;
        --font_size_title_s: 22px;
        --font_size_title_xs: 19px;
        --inner_gap_xl: 20px;
        --outside_gap: 60px;
        --outside_gap_m: 48px;
        --border_radius_l: 32px;
        --border_radius: 24px;
        --border_radius_m: 20px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        justify-content: center;

        width: 100%;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item
    {
        border-radius: var(--border_radius_l);
    }


    .accordion_item .head
    {
        padding-inline: var(--inner_gap) var(--inner_gap_xs);

        gap: var(--inner_gap_m);
        --icon_size: 48px;
    }


    .accordion_item .head .title
    {
        width: calc(100% - var(--icon_size) - var(--inner_gap_m));

        font-size: var(--font_size);
    }


    .accordion_item .head .icon svg
    {
        width: 18px;
    }


    .accordion_item .data
    {
        padding-inline: var(--inner_gap);
    }



    /*---------------------
        Grid row bottom
    ---------------------*/
    .grid_row_bottom
    {
        margin-top: var(--block_head_offset);
    }


    .grid_row_bottom .limit
    {
        justify-content: center;

        width: 100%;
    }



    /*------------
        Header
    ------------*/
    header
    {
        display: none;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*---------------
        Page head
    ---------------*/
    .breadcrumbs
    {
        font-size: var(--font_size_xs);
        line-height: 1;
    }


    .breadcrumbs .sep
    {
        width: 16px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head.row .title
    {
        max-width: 100%;
    }



    /*------------------
        Form elements
    ------------------*/
    .form
    {
        --form_input_height: 52px;
    }


    .form .columns > *,
    .form .columns > *.width1of3
    {
        width: calc(100% - var(--form_columns_gap));
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        min-height: 440px;
        padding-block: var(--cont_padding_double) var(--block_padding);
    }


    .first_section .title
    {
        width: 100%;
        max-width: 100%;
    }


    .first_section .btns
    {
        flex-direction: column;
        flex-wrap: wrap;
    }



    .first_section .pluses
    {
        margin-top: var(--cont_padding_double);
    }


    .first_section .pluses .sub_title
    {
        display: none;
    }


    .first_section .pluses .grid_row
    {
        --gap_x: var(--inner_gap_xl);
        --gap_y: var(--inner_gap_xl);
        --items_per_line: 2;
        gap: 0;
    }


    .first_section .pluses .grid_row > *
    {
        width: calc(100% / var(--items_per_line) * var(--width_multiplier, 1) - var(--gap_x));
    }


    .first_section .pluses .grid_row > *:first-child
    {
        --width_multiplier: 2;
    }


    .first_section .pluses .item
    {
        font-size: var(--font_size);
    }



    /*----------------
        About info
    ----------------*/
    .about_info .head .free,
    .about_info .head .total_area
    {
        width: 100%;
    }



    .about_info .row .data
    {
        width: 100%;
        padding-block: var(--inner_gap_xl);
    }



    /*-----------
        Stats
    -----------*/
    .stats .data
    {
        padding-inline: var(--inner_gap_xl);
    }


    .stats .grid_row
    {
        --gap_x: var(--inner_gap_xl);
        --items_per_line: 2;
    }



    /*----------------
        Directions
    ----------------*/
    .directions .grid
    {
        display: flex;
        flex-direction: column;
    }


    .directions .item + .item
    {
        margin-top: var(--inner_gap_xl);
    }


    .directions .item .thumb,
    .directions .item:nth-child(4) .thumb
    {
        top: -32px;
        right: 7px;

        width: 120px;
    }



    .directions .action_form .data
    {
        padding-inline: var(--inner_gap_xl);
        padding-bottom: var(--inner_gap_xl);
    }



    /*------------------
        Microclimate
    ------------------*/
    .microclimate
    {
        padding-bottom: 240px;
    }


    .microclimate .grid
    {
        display: flex;
        flex-direction: column;

        gap: var(--inner_gap);
    }


    .microclimate .item
    {
        min-height: 0;
    }


    .microclimate .item .plus
    {
        right: 0;
        left: auto;

        transform: translate(calc(50% - var(--inner_gap) / 2), calc(-50% - var(--inner_gap) / 2));
    }


    .microclimate > .bg
    {
        height: 640px;
    }



    /*----------
        Goal
    ----------*/
    .goal .block_head
    {
        margin-bottom: var(--inner_gap_xl);
    }


    .goal .precision
    {
        width: 100%;
    }


    .goal .text_block
    {
        width: 100%;
        max-width: 100%;
    }


    .goal .info
    {
        padding: var(--inner_gap_xl);
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .data
    {
        padding-inline: var(--inner_gap_xl);
        padding-bottom: var(--inner_gap_xl);
    }



    /*-----------------
        Partnership
    -----------------*/
    .partnership .grid_row > *
    {
        width: 320px;
    }


    .partnership .item .result
    {
        font-size: var(--font_size_s);
    }



    /*------------------
        Free consult
    ------------------*/
    .free_consult .info
    {
        width: 100%;

        gap: var(--inner_gap_xl);
    }


    .free_consult .form
    {
        width: 100%;
        margin-top: var(--block_padding);
    }



    /*------------------
        Technologies
    ------------------*/
    .technologies .grid_row
    {
        --items_per_line: 1;
    }


    .technologies .item
    {
        min-height: 0;
    }


    .technologies .we
    {
        padding-block: 160px var(--inner_gap_xl);
    }


    .technologies .we .image
    {
        top: -20px;
    }



    /*----------------
        Warranties
    ----------------*/
    .warranties .data
    {
        padding-inline: var(--inner_gap_xl);
    }


    .warranties .grid_row
    {
        --items_per_line: 1;
        --gap_x: var(--inner_gap_xs);
        --gap_y: var(--inner_gap_xs);
    }



    /*-----------
        Certs
    -----------*/
    .certs .grid_row,
    .certs .grid_row.big_offsets
    {
        --items_per_line: 2;
    }



    /*----------------
        Error page
    ----------------*/
    .error_page .data .image
    {
        height: 180px;
    }


    .error_page .data .image img
    {
        top: -20px;

        width: auto;
        height: 224px;
    }


    .error_page .data .title
    {
        margin-top: var(--block_padding);
    }


    .error_page .data .title,
    .error_page .data .desc
    {
        width: 100%;
        margin-left: 0;

        text-align: center;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .info .grid_row
    {
        --items_per_line: 1;
    }



    /*----------------
        Requisites
    ----------------*/
    .requisites .sub_title
    {
        margin-block: var(--inner_gap);
    }



    /*--------------
        Feedback
    --------------*/
    .feedback .data
    {
        padding-inline: var(--inner_gap_xl);
        padding-bottom: var(--inner_gap_xl);
    }



    /*----------------------
        Warranty install
    ----------------------*/
    .warranty_install .items > *
    {
        padding: var(--inner_gap_m);
    }



    /*-------------------
        Save warranty
    -------------------*/
    .save_warranty .grid_row
    {
        --items_per_line: 1;
    }



    /*-------------------------
        Payment individuals
    -------------------------*/
    .payment_individuals .thumb
    {
        width: 140px;
    }


    .payment_individuals .block_head
    {
        width: 100%;
        margin-bottom: var(--inner_gap);
    }


    .payment_individuals .methods .grid_row
    {
        --gap_y: var(--block_padding);
        --items_per_line: 1;
    }


    .payment_individuals .methods .item
    {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        gap: var(--inner_gap_m);
    }


    .payment_individuals .methods .icon
    {
        width: 60px;
        margin-bottom: 0;
    }


    .payment_individuals .methods .icon svg
    {
        width: 24px;
    }


    .payment_individuals .methods .name
    {
        align-self: center;

        width: calc(100% - 76px);
    }


    .payment_individuals .methods .desc
    {
        width: 100%;
    }



    .payment_individuals .prepayment > *:not(.icon)
    {
        width: 100%;
    }


    .payment_individuals .prepayment .icon
    {
        display: none;
    }



    /*--------------------
        Payment legals
    --------------------*/
    .payment_legals .thumb
    {
        width: 140px;
    }


    .payment_legals .block_head
    {
        width: 100%;
        margin-bottom: var(--inner_gap);
    }


    .payment_legals .items > *
    {
        padding: var(--inner_gap_m);
    }



    /*------------------
        Measurements
    ------------------*/
    .measurements .data
    {
        padding-inline: var(--inner_gap_xl);
    }


    .measurements .btns
    {
        flex-direction: column;
        flex-wrap: wrap;
    }


    .measurements .image
    {
        width: 100%;
    }


    .measurements .info
    {
        width: 100%;
    }


    .measurements .info ol li
    {
        min-height: 48px;
        padding-left: 64px;
    }


    .measurements .info ol li:before
    {
        width: 48px;

        font-size: 19px;
    }



    /*--------------
        Delivery
    --------------*/
    .delivery .data
    {
        padding-inline: var(--inner_gap_xl);
        padding-bottom: var(--inner_gap_xl);
    }


    .delivery .item
    {
        width: 100%;
    }


    .delivery .item.blue
    {
        min-height: 0;
        padding-block: 132px var(--inner_gap_xl);
        padding-inline: var(--inner_gap_xl);
    }


    .delivery .item .thumb
    {
        top: var(--block_padding);
        right: 0;
        left: 0;

        width: 240px;
        margin-inline: auto;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .grid_row
    {
        --items_per_line: 2;
    }



    /*-----------------
        Reviews page
    -----------------*/
    .reviews_page .grid_row > *.stats
    {
        padding-block: var(--inner_gap_m);

        --width_multiplier: 2;
    }


    .reviews_page .stats .grid_row
    {
        --items_per_line: 1;
    }


    .reviews_page .stats .item .val
    {
        font-size: 22px;
    }



    /*--------------------
        Letters thanks
    --------------------*/
    .letters_thanks .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .letters_thanks .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .letters_thanks .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .letters_thanks .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*---------------------
        Private reviews
    ---------------------*/
    .private_reviews .grid_row
    {
        --items_per_line: 1;
    }


    .private_reviews .review
    {
        padding-block: var(--inner_gap_xl);
    }



    /*----------------
        Add review
    ----------------*/
    .add_review .data
    {
        padding-inline: var(--inner_gap_xl);
    }



    /*----------------------
        Partnership head
    ----------------------*/
    .partnership_head .data
    {
        padding-inline: var(--inner_gap_xl);
    }


    .partnership_head .requests .grid_row
    {
        --items_per_line: 1;
    }


    .partnership_head .requests .item .icon
    {
        width: 52px;
    }


    .partnership_head .requests .item .icon svg
    {
        width: 24px;
    }



    /*------------
        Brands
    ------------*/
    .brands .tabs
    {
        display: grid;
        overflow: auto;
        justify-content: flex-start;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0 var(--inner_gap_m);
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .brands .tabs::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .brands .tabs::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .brands .tabs .btn
    {
        scroll-snap-align: start;
    }


    .brands .grid_row
    {
        --items_per_line: 2;
    }


    .brands .grid_row > *.desc
    {
        --width_multiplier: 2px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .item
    {
        padding-block: 100px var(--inner_gap_xl);
    }


    .why_we .item .thumb
    {
        width: 180px;
    }



    /*-----------
        Cases
    -----------*/
    .cases_page .cont > .grid_row
    {
        --items_per_line: 1;
    }



    /*----------------
        About head
    ----------------*/
    .about_head .info
    {
        padding: var(--inner_gap);
    }



    /*-----------
        Trust
    -----------*/
    .trust .grid_row
    {
        --items_per_line: 1;
    }



    /*--------------
        For whom
    --------------*/
    .for_whom .item
    {
        padding-top: var(--inner_gap);
    }



    /*-------------------
        Photo gallery
    -------------------*/
    .photo_gallery .swiper-slide
    {
        width: 160px;
    }


    .photo_gallery .swiper-button-next,
    .photo_gallery .swiper-button-prev
    {
        display: none;
    }



    /*------------------
        Project info
    ------------------*/
    .project_info:before
    {
        height: calc(100% - 240px);
    }


    .project_info .solution .grid_row,
    .project_info .difficulties .grid_row
    {
        --items_per_line: 1;
    }



    /*-----------
        Steps
    -----------*/
    .steps .data + .order_btn
    {
        width: 400px;
        margin-top: var(--block_padding);
        margin-left: 0;
    }


    .steps .data .order_btn .icon
    {
        display: none;
    }


    .steps .data .order_btn span
    {
        max-width: calc(100% - 48px - var(--inner_gap));
    }



    /*------------------
        Service head
    ------------------*/
    .service_head
    {
        padding-top: 0;
    }


    .service_head .cont
    {
        padding: 0;
    }


    .service_head .data
    {
        padding-block: var(--block_padding) var(--inner_gap);
        padding-inline: var(--cont_padding);

        border-radius: 0;
    }



    .service_head .title br
    {
        display: none;
    }


    .service_head .title small
    {
        font-size: calc(var(--font_size_title_l) - 12px);
    }


    .service_head .desc br
    {
        display: none;
    }



    .service_head .btns
    {
        flex-direction: column;
    }


    .service_head .btns .btn
    {
        width: 100%;
    }



    .service_head .advantages .item
    {
        padding-block: var(--inner_gap_xs);
        padding-inline: var(--inner_gap_xs);

        gap: var(--inner_gap_xs);
    }


    .service_head .advantages .item br
    {
        display: none;
    }



    /*-------------
        Objects
    -------------*/
    .objects .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .objects .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .objects .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .objects .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*------------------
        Service when
    ------------------*/
    .service_when .grid_row,
    .service_when .grid_row.big
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .service_when .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .service_when .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .service_when .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }


    .service_when .grid_row .block_head
    {
        display: none;
    }


    .service_when .block_head.mob
    {
        display: flex;
    }



    /*-------------------
        Service steps
    -------------------*/
    .service_steps .data.medium
    {
        width: 100%;
        max-width: 100%;
    }



    /*---------------------
        Service systems
    ---------------------*/
    .service_systems .item .thumb
    {
        height: 304px;
    }


    .service_systems .item .data
    {
        flex-wrap: wrap;

        padding-block: var(--inner_gap_s);
        padding-inline: var(--inner_gap_s);

        gap: var(--inner_gap);
    }


    .service_systems .item .price
    {
        top: var(--inner_gap_s);
        right: var(--inner_gap_s);
    }


    .service_systems .item .btn
    {
        width: 100%;
    }


    .service_systems .item .info
    {
        padding-inline: 0;
    }



    /*--------------------
        Service prices
    --------------------*/
    .service_prices .additional
    {
        padding: var(--inner_gap);
    }


    .service_prices .additional .items
    {
        font-size: var(--font_size);
    }


    .service_prices .additional .btn
    {
        font-size: var(--font_size);

        gap: var(--inner_gap_s);
    }


    .service_prices .additional .btn .icon
    {
        display: none;
    }


    .service_prices .additional .btn span
    {
        max-width: calc(100% - 48px - var(--inner_gap_s));
    }



    /*--------------------
        Service schema
    --------------------*/
    .service_schema .data .grid_row
    {
        --items_per_line: 1;
    }


    .service_schema .data .btn
    {
        --width_multiplier: 1;
    }



    .service_schema .schema .grid_row
    {
        --items_per_line: 1;
    }



    /*--------------------
        Service modern
    --------------------*/
    .service_modern .grid_row
    {
        --items_per_line: 1;
    }


    .service_modern .item.big
    {
        padding-top: 200px;

        --width_multiplier: 1;
    }


    .service_modern .item .thumb,
    .service_modern .item .thumb.right
    {
        width: 100%;
        height: 180px;

        border-radius: var(--border_radius_m) var(--border_radius_m) 0 0;
    }


    .service_modern .item .thumb:before
    {
        background: linear-gradient(180deg, rgba(242, 244, 255, .00) 61.83%, var(--bg_color) 100%);
    }


    .service_modern .item .thumb img
    {
        width: 100%;

        object-fit: cover;
    }


    .service_modern .item.big .name,
    .service_modern .item.big .desc
    {
        width: 100%;
    }



    /*----------------------
        Service products
    ----------------------*/
    .service_products .grid_row
    {
        --gap_y: var(--inner_gap);
        --items_per_line: 1;
    }


    .service_products .product .desc
    {
        width: 100%;
    }



    /*--------------------
        Service create
    --------------------*/
    .service_create .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .service_create .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .service_create .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .service_create .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*---------------------
        Service tariffs
    ---------------------*/
    .service_tariffs .grid_row,
    .service_tariffs .grid_row.small
    {
        --items_per_line: 1;
    }


    .service_tariffs .item .info .items,
    .service_tariffs .item .info .desc
    {
        height: auto !important;
    }



    /*--------------
        Trust us
    --------------*/
    .trust_us .grid_row
    {
        --items_per_line: 1;
    }


    .trust_us .item .icon
    {
        width: 40px;
    }



    /*------------------
        Service docs
    ------------------*/
    .service_docs .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .service_docs .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .service_docs .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .service_docs .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*------------------
        Service give
    ------------------*/
    .service_give .block_head
    {
        display: none;
    }


    .service_give .block_head.mob
    {
        display: flex;
    }


    .service_give .block_head .title,
    .service_give .block_head .desc
    {
        width: 100%;
    }


    .service_give .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .service_give .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .service_give .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .service_give .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }


    .service_give .item .icon svg
    {
        width: 44px;
    }



    /*-------------------
        Service risks
    -------------------*/
    .service_risks .errors
    {
        padding: var(--inner_gap);
    }


    .service_risks .errors .grid_row
    {
        --items_per_line: 1;
    }



    .service_risks .how_we_do_it
    {
        padding: var(--inner_gap);
    }


    .service_risks .how_we_do_it .btn span
    {
        max-width: calc(100% - 48px - var(--inner_gap_m));
    }


    .service_risks .how_we_do_it .btn .icon
    {
        display: none;
    }



    /*---------------------
        Service tariffs
    ---------------------*/
    .service_tariffs .grid_row,
    .service_tariffs .grid_row.small
    {
        --items_per_line: 1;
    }



    /*-----------------
        Service why
    -----------------*/
    .service_why .grid_row
    {
        --items_per_line: 1;
    }



    /*-------------------
        Package offer
    -------------------*/
    .package_offer .data
    {
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap);
    }



    /*--------------------------
        Service object types
    --------------------------*/
    .service_object_types .block_head
    {
        display: none;
    }


    .service_object_types .block_head.mob
    {
        display: flex;
    }


    .service_object_types .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .service_object_types .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .service_object_types .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .service_object_types .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*---------------------
        Service typical
    ---------------------*/
    .service_typical .grid_row
    {
        --items_per_line: 1;
    }



    /*--------------------
        Service stages
    --------------------*/
    .service_stages .tabs .btn
    {
        padding-block: var(--inner_gap_xxs);
        padding-inline: var(--inner_gap_xxs) var(--inner_gap);

        font-size: var(--font_size);
    }


    .service_stages .tab_content.active
    {
        padding: var(--inner_gap);
    }


    .service_stages .text_block
    {
        font-size: var(--font_size);
    }



    /*-------------------
        Service signs
    -------------------*/
    .service_signs .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .service_signs .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .service_signs .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .service_signs .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*-------------------------
        Service full prices
    -------------------------*/
    .service_full_prices .item .number
    {
        width: 52px;
        margin-bottom: var(--inner_gap);
    }


    .service_full_prices .item .info,
    .service_full_prices .item .col
    {
        width: 100%;
        margin-left: 0;
    }


    .service_full_prices .item .prices
    {
        gap: var(--inner_gap);
    }


    .service_full_prices .item .btn
    {
        width: 100%;
    }



    /*-----------------
        Maintenance
    -----------------*/
    .maintenance .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .maintenance .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .maintenance .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .maintenance .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*-----------------------
        Service guarantee
    -----------------------*/
    .service_guarantee .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .service_guarantee .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .service_guarantee .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .service_guarantee .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*------------------------
        Service advantages
    ------------------------*/
    .service_advantages .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .service_advantages .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .service_advantages .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .service_advantages .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*--------------------
        Price included
    --------------------*/
    .price_included .base,
    .price_included .additional
    {
        padding: var(--inner_gap);
    }


    .price_included .additional .items > *
    {
        padding-inline: 0;
    }


    .price_included .additional .items .icon
    {
        display: none;
    }



    .price_included .additional .btn .icon
    {
        display: none;
    }


    .price_included .additional .btn span
    {
        max-width: calc(100% - 48px - var(--inner_gap));
    }



    /*----------------------
        Service bad/good
    ----------------------*/
    .service_bad_good .item .row > *
    {
        width: 100%;
    }


    .service_bad_good .item .items .arrow
    {
        margin-right: var(--inner_gap_xxs);
    }



    /*--------------
        Services
    --------------*/
    .services .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .services .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .services .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .services .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*---------------
        Documents
    ---------------*/
    .documents .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .documents .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .documents .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .documents .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*------------
        Footer
    ------------*/
    footer .info .row + .row
    {
        justify-content: center;

        width: 100%;
    }


    footer .logo
    {
        margin-inline: auto;
    }


    footer .logo img
    {
        width: 172px;
        height: 36px;
    }


    footer .slogan
    {
        width: 100%;
        margin-top: var(--inner_gap_xs);
        margin-left: 0;

        text-align: center;
    }


    footer .messengers
    {
        margin-left: var(--inner_gap_xs);
    }


    footer .messengers .label
    {
        display: none;
    }


    footer .btns
    {
        width: 100%;
    }


    footer .menu
    {
        width: 100%;
        max-width: 100%;

        text-align: center;
    }


    footer .menu .title br
    {
        display: none;
    }


    footer .copyright
    {
        text-align: center;
    }


    footer .links
    {
        align-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;

        gap: var(--inner_gap_xs);
    }


    footer .creator
    {
        width: 100%;

        text-align: center;
    }
}
