@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/
    .swiper-button-prev
    {
        margin-right: 79px !important;
    }


    .swiper-button-next
    {
        margin-right: var(--inner_gap) !important;
    }



    /*--------------
        All link
    --------------*/
    .all_link a
    {
        padding-block: var(--inner_gap_s);
        padding-inline: var(--inner_gap_b) var(--inner_gap_s);

        border-radius: var(--border_radius_b);
    }



    /*------------
        Header
    ------------*/
    header .data.absolute
    {
        padding-block: var(--inner_gap) 0;

        gap: var(--inner_gap_b);
    }



    header .bottom
    {
        padding-block: 4px;
        padding-inline: var(--inner_gap_m) 4px;

        border-radius: 0 100px 100px;
    }


    header .bottom .bg
    {
        border-radius: 0 var(--border_radius) var(--border_radius);
    }



    header .location
    {
        width: auto;
    }



    header .contacts
    {
        min-width: 0;
        margin-left: var(--inner_gap);
    }



    header .btns
    {
        margin-left: var(--inner_gap_b);
    }


    header .btns .btn
    {
        width: 200px;
    }



    header .services_menu
    {
        gap: 0;
    }


    header .services_menu .sub
    {
        padding-inline: var(--block_padding);

        gap: 60px;
    }


    header .services_menu .sub > *
    {
        width: 320px;

        gap: 60px;
    }


    header .services_menu .sub .items
    {
        font-size: var(--font_size_m);
    }



    header .solutions_menu
    {
        min-height: 60px;
        padding-inline: var(--inner_gap_b) var(--inner_gap_s);

        border-radius: var(--border_radius_b);
    }


    header .solutions_menu .items
    {
        gap: 0;
    }


    header .solutions_menu .items a
    {
        gap: var(--cont_padding_half);
    }


    header .solutions_menu .sub
    {
        width: 400px;
        padding-inline: var(--block_padding);

        gap: var(--inner_gap);
    }



    /*------------------
        Form elements
    ------------------*/
    .form .agree
    {
        margin-top: var(--inner_gap);
    }



    /*----------------
        Typography
    ----------------*/
    .text_block > *
    {
        margin-bottom: var(--inner_gap);
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: var(--inner_gap_b);
    }


    .first_section .cont
    {
        min-height: 748px;
        padding-block: 262px 48px;
    }



    .first_section .title
    {
        margin-top: 0;
    }



    .first_section .btns
    {
        width: 360px;

        gap: 20px;
    }


    .first_section .btns .btn
    {
        height: 72px;

        border-radius: var(--border_radius_b);

        gap: var(--inner_gap);
    }



    .first_section .pluses .sub_title
    {
        width: 380px;
    }


    .first_section .grid_row
    {
        gap: 68px;
    }


    .first_section .pluses .item
    {
        gap: var(--cont_padding_half);
    }



    /*------------
        Stores
    ------------*/
    .stores
    {
        margin-bottom: var(--inner_gap_b);
    }


    .stores .swiper-button-next,
    .stores .swiper-button-prev
    {
        width: 80px;
    }


    .stores .thumb
    {
        width: 120px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .head
    {
        gap: var(--inner_gap);
    }


    .about_info .head .block_head
    {
        width: 360px;
    }


    .about_info .head .free
    {
        width: 440px;
        height: 200px;

        border-radius: 0 48px 48px 48px;
    }


    .about_info .head .total_area
    {
        width: 480px;
        height: 200px;
        padding-inline: 48px;

        border-radius: 48px 48px 48px 0;
    }


    .about_info .head .total_area .val
    {
        font-size: 72px;
        line-height: calc(100% + 10px);
    }



    .about_info .row
    {
        margin-top: calc(var(--block_padding) * 2);
    }



    .about_info .row .data
    {
        width: calc(100% - 888px);
        padding-block: 48px;
        padding-inline: 48px;

        border-radius: var(--border_radius_b) var(--border_radius_s) var(--border_radius_b) var(--border_radius_b);
    }


    .about_info .row .data .btn
    {
        margin-top: 60px;

        gap: var(--inner_gap);
    }


    .about_info .row .image
    {
        width: 380px;
    }


    .about_info .row .info
    {
        width: 460px;
        padding-block: 48px;
        padding-inline: 48px;
    }



    /*------------------
        Object types
    ------------------*/
    .object_types .block_head .title
    {
        width: 800px;
    }


    .object_types .block_head .desc
    {
        width: 600px;
    }


    .object_types .type .thumb .arrow
    {
        top: var(--cont_padding_half);
        right: var(--cont_padding_half);

        width: 60px;
    }



    /*----------------
        Directions
    ----------------*/
    .directions .item,
    .directions .item:nth-child(4)
    {
        min-height: 324px;
        padding: var(--inner_gap_b);

        gap: var(--inner_gap);
    }


    .directions .item .thumb,
    .directions .item:nth-child(4) .thumb
    {
        top: -40px;
        right: 0;

        width: 172px;
    }


    .directions .item .desc br
    {
        display: none;
    }


    .directions .item .arrow
    {
        right: 20px;
        bottom: 20px;

        width: 60px;
    }



    .directions .action_form .data
    {
        min-height: 324px;
        padding-block: var(--cont_padding_double);
        padding-inline: var(--cont_padding_double);
    }


    .directions .action_form .form .columns
    {
        width: calc(100% - 300px);
    }


    .directions .action_form .form .submit
    {
        width: 300px;
    }



    /*------------------
        Microclimate
    ------------------*/
    .microclimate
    {
        padding-top: 0;
    }


    .microclimate .row
    {
        --info_width: 380px;
    }



    .microclimate .item
    {
        min-height: 240px;
        padding: var(--inner_gap_b);
    }


    .microclimate .item.info
    {
        min-height: 600px;
    }


    .microclimate .item.info .btn
    {
        gap: var(--inner_gap_m);
    }


    .microclimate .item .plus
    {
        width: 80px;
    }


    .microclimate .item .plus .icon
    {
        width: 24px;
    }



    .microclimate > .bg
    {
        border-radius: var(--border_radius_b);
    }



    /*-----------
        Steps
    -----------*/
    .steps .block_head .title
    {
        width: 800px;
    }


    .steps .block_head .desc
    {
        width: 500px;
    }



    .steps .tabs .btn
    {
        padding-block: var(--inner_gap_s);
        padding-inline: var(--inner_gap_s);

        font-size: var(--font_size);

        --number_size: 48px;
    }


    .steps .tabs .inner
    {
        padding-block: var(--inner_gap_s);
        padding-inline: var(--inner_gap_s);
    }


    .steps .tab_content.active
    {
        padding-block: var(--block_padding);
        padding-inline: var(--block_padding);
    }



    .steps .tab_content.big_pad.active
    {
        padding-block: var(--block_padding);
        padding-inline: var(--block_padding);
    }



    .steps .data
    {
        width: 800px;
        max-width: calc(100% - 420px - var(--cont_padding_double));
    }


    .steps .data .btn
    {
        gap: var(--inner_gap);
    }



    .steps .image
    {
        width: 420px;
    }


    .steps .image.small_w
    {
        width: 380px;
    }



    /*----------
        Goal
    ----------*/
    .goal .data
    {
        width: calc(100% - 568px);

        gap: var(--inner_gap);
    }


    .goal .block_head
    {
        margin-bottom: 60px;
    }


    .goal .precision
    {
        width: 460px;
        max-width: calc(100% - 424px);
        padding-block: var(--block_padding);
        padding-inline: var(--block_padding);

        gap: var(--inner_gap);
    }


    .goal .text_block
    {
        width: 400px;
    }


    .goal .info
    {
        width: 520px;
        padding-block: var(--cont_padding_double);
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .data
    {
        padding-block: var(--cont_padding_double);
        padding-inline: 80px;
    }


    .action_form .form .columns
    {
        width: calc(100% - 340px);
    }


    .action_form .form .submit
    {
        width: 340px;
    }



    /*-----------------
        Partnership
    -----------------*/
    .partnership .block_head .title
    {
        width: calc(100% - 860px);
    }


    .partnership .block_head .desc
    {
        width: 780px;
    }


    .partnership .sub_title
    {
        margin-bottom: var(--inner_gap);
    }


    .partnership .item .name
    {
        font-size: var(--font_size_title_xs);
    }


    .partnership .item .image
    {
        width: 380px;
    }


    .partnership .item .result
    {
        font-size: var(--font_size);
    }



    /*------------------
        Free consult
    ------------------*/
    .free_consult .image
    {
        width: 400px;
        min-height: 260px;
    }


    .free_consult .info
    {
        width: calc(100% - 856px);

        gap: var(--block_padding);
    }


    .free_consult .form
    {
        width: 360px;
    }



    /*-----------
        Cases
    -----------*/
    .cases .cont > .grid_row
    {
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap);
    }


    .cases_page .cont > .grid_row
    {
        --gap_x: var(--inner_gap_b);
        --gap_y: var(--inner_gap_b);
    }


    .cases .case .images
    {
        margin-bottom: var(--inner_gap_m);

        gap: var(--inner_gap_s);
    }


    .cases .case .images .thumbs
    {
        --gap_x: var(--inner_gap_s);
        --gap_y: var(--inner_gap_s);
    }


    .cases .case .images .features,
    .cases .case .images .sticker
    {
        bottom: var(--cont_padding_half);
        left: var(--cont_padding_half);

        max-width: calc(100% - var(--cont_padding));
        padding-inline: var(--inner_gap_s);
    }



    /*------------------
        Technologies
    ------------------*/
    .technologies .item
    {
        min-height: 240px;
        padding-block: var(--inner_gap_b);
        padding-inline: var(--inner_gap_b);

        gap: var(--inner_gap);
    }


    .technologies .we
    {
        padding-block: 120px var(--inner_gap_b);
    }


    .technologies .we .image
    {
        top: -148px;

        width: 300px;
    }



    /*-----------
        Stats
    -----------*/
    .stats .data
    {
        padding-block: 60px;
        padding-inline: 60px;
    }


    .stats .block_head
    {
        padding-bottom: 0;
    }


    .stats .item .val
    {
        line-height: calc(100% + 8px);
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .cont > .data
    {
        padding-block: var(--cont_padding_double) 0;
        padding-inline: 60px;
    }


    .reviews .cont > .data:before
    {
        height: calc(100% - 200px - var(--inner_gap_b));
    }


    .reviews .grid_row
    {
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap);
    }


    .reviews .review .thumb
    {
        margin-bottom: var(--inner_gap_s);
    }


    .reviews .all_link
    {
        padding-inline: 60px;
    }



    /*-----------------
        Reviews page
    -----------------*/
    .reviews_page
    {
        padding-top: 40px;
    }


    .reviews_page .grid_row > *.stats
    {
        padding-block: 60px;
    }


    .reviews_page.stats .item .val
    {
        font-size: 40px;
    }



    /*------------
        Brands
    ------------*/
    .brands .tabs .btn
    {
        height: 52px;
    }


    .brands .swiper-slide
    {
        width: 260px;
    }


    .brands .grid_row
    {
        --gap_x: var(--block_padding);
        --gap_y: var(--inner_gap_m);
    }


    .brands .item .logo
    {
        height: 120px;
    }



    /*----------------
        Warranties
    ----------------*/
    .warranties .data
    {
        padding-block: 60px;
        padding-inline: 60px;
    }


    .warranties .grid_row
    {
        --gap_x: var(-inner_gap_m);
        --gap_y: var(-inner_gap_m);
    }


    .warranties .item
    {
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap);

        gap: var(--inner_gap_m);
    }


    .warranties .item .icon
    {
        width: 60px;
        min-width: 60px;
    }


    .warranties .item .icon svg
    {
        width: 24px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article
    {
        gap: var(--inner_gap_m);
    }


    .articles .article .name
    {
        min-height: 2lh;
    }


    .articles .article .desc
    {
        min-height: 3lh;
    }



    /*-----------
        Certs
    -----------*/
    .certs .data
    {
        padding-block: var(--cont_padding_double) 0;
        padding-inline: 60px;
    }


    .certs .grid_row
    {
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap);
    }


    .certs .grid_row.big_offsets
    {
        --gap_x: var(--block_padding);
        --gap_y: var(--block_padding);
    }



    .certs .all_link
    {
        padding-inline: 60px;
    }



    /*----------------
        Error page
    ----------------*/
    .error_page .data
    {
        width: calc(100% - 692px);
    }


    .error_page .data .image
    {
        border-radius: 60px;
    }


    .error_page .data .image img
    {
        top: -28px;

        width: 574px;
        height: 420px;
    }


    .error_page .data .title,
    .error_page .data .desc
    {
        width: 492px;
        margin-left: 8%;
    }



    .error_page .links
    {
        width: 286px;
    }



    /*----------------------------
        Payment departure head
    ----------------------------*/
    .payment_departure_head
    {
        margin-bottom: 60px;
    }


    .payment_departure_head.block.bg
    {
        padding-block: 40px;
    }



    /*-------------------------
        Payment individuals
    -------------------------*/
    .payment_individuals
    {
        margin-bottom: 60px;
    }


    .payment_individuals .cont
    {
        gap: var(--inner_gap);
    }


    .payment_individuals .thumb
    {
        width: 200px;
    }


    .payment_individuals .block_head
    {
        width: 300px;
    }


    .payment_individuals .data
    {
        width: calc(100% - 596px);
        margin-left: auto;
    }


    .payment_individuals .methods .icon
    {
        width: 80px;
    }


    .payment_individuals .prepayment
    {
        padding-block: var(--inner_gap);
        padding-inline: var(--inner_gap_b);
    }


    .payment_individuals .prepayment > *:not(.icon)
    {
        width: calc(100% - 148px);
    }


    .payment_individuals .prepayment .icon
    {
        width: 100px;
    }



    /*--------------------
        Payment legals
    --------------------*/
    .payment_legals
    {
        padding-block: var(--block_padding);
    }


    .payment_legals .cont
    {
        gap: var(--inner_gap);
    }


    .payment_legals .thumb
    {
        width: 200px;
    }


    .payment_legals .block_head
    {
        width: 300px;
    }


    .payment_legals .data
    {
        width: calc(100% - 596px);
        margin-left: auto;
    }



    /*------------------
        Measurements
    ------------------*/
    .measurements .cont
    {
        gap: var(--inner_gap);
    }


    .measurements .data
    {
        width: calc(100% - 1008px);
        padding-block: var(--cont_padding_double);
        padding-inline: var(--block_padding);
    }


    .measurements .image
    {
        width: 480px;
    }


    .measurements .info
    {
        width: 480px;
        padding-block: var(--cont_padding_double);
        padding-inline: var(--cont_padding_double);
    }



    /*--------------
        Delivery
    --------------*/
    .delivery .data
    {
        padding-block: 60px;
        padding-inline: 60px;
    }


    .delivery .item
    {
        width: 340px;
    }


    .delivery .item.blue
    {
        width: calc(100% - 752px);
        padding-inline: 228px var(--cont_padding_double);
    }


    .delivery .item .desc
    {
        min-height: 4lh;
    }


    .delivery .item .thumb
    {
        left: -60px;

        width: 280px;
    }



    /*--------------------
        Letters thanks
    --------------------*/
    .letters_thanks .block_head
    {
        width: 500px;

        gap: var(--block_padding);
    }


    .letters_thanks .data
    {
        width: calc(100% - 548px);
    }



    /*---------------------
        Private reviews
    ---------------------*/
    .private_reviews .review
    {
        padding-inline: var(--block_padding);
    }



    /*----------------
        Add review
    ----------------*/
    .add_review .data
    {
        padding-block: 60px;
        padding-inline: 60px;
    }


    .add_review .form .submit_btn
    {
        width: 360px;
    }



    /*----------------------
        Partnership head
    ----------------------*/
    .partnership_head
    {
        padding-top: var(--inner_gap);
    }


    .partnership_head .data
    {
        min-height: 600px;
        padding-block: 60px;
        padding-inline: 60px;

        border-radius: var(--border_radius_b);
    }


    .partnership_head .requests .block_head
    {
        width: 300px;
    }


    .partnership_head .requests .grid_row
    {
        width: calc(960px + var(--inner_gap_m));
    }


    .partnership_head .requests .item
    {
        padding-inline: var(--inner_gap);
    }


    .partnership_head .requests .item .icon svg
    {
        width: 28px;
    }



    /*------------
        Why we
    ------------*/
    .why_we .item
    {
        margin-top: 80px;
        padding-block: 120px var(--cont_padding_double);
        padding-inline: var(--inner_gap);
    }


    .why_we .item .thumb
    {
        top: -80px;

        width: 200px;
    }



    /*----------------
        Cases head
    ----------------*/
    .cases_head
    {
        margin-bottom: 48px;
    }


    .cases_head.block.bg
    {
        padding-block: 40px 16px;
    }



    /*----------------
        About head
    ----------------*/
    .about_head .col
    {
        width: calc(100% - 500px - var(--inner_gap));
    }


    .about_head .info
    {
        width: 500px;
        padding-block: var(--cont_padding_double);
        padding-inline: var(--cont_padding_double);
    }



    /*-----------
        Trust
    -----------*/
    .trust .grid_row
    {
        --gap_x: var(--inner_gap_m);
        --gap_y: var(--inner_gap_m);
    }


    .trust .item
    {
        padding-block: var(--block_padding);
        padding-inline: var(--cont_padding_double);

        border-radius: var(--border_radius_b);
    }


    .trust .item .val
    {
        font-size: 80px;
        line-height: calc(100% + 10px);
    }



    /*-------------------
        Why choose us
    -------------------*/
    .why_choose_us .item
    {
        padding-inline: var(--inner_gap_m);
    }


    .why_choose_us .item:nth-child(1),
    .why_choose_us .item:nth-child(5)
    {
        height: 292px;
    }


    .why_choose_us .item:nth-child(2),
    .why_choose_us .item:nth-child(4)
    {
        height: 316px;
    }


    .why_choose_us .item:nth-child(3)
    {
        height: 340px;
    }



    /*------------------
        Project info
    ------------------*/
    .project_info
    {
        padding-top: var(--block_padding);
    }



    .project_info .project_title
    {
        width: 840px;
        margin-bottom: var(--block_head_offset);
    }



    .project_info .features
    {
        right: calc(var(--cont_padding) + var(--block_padding));

        width: 500px;
        padding-inline: var(--block_padding);
    }



    .project_info .task .info
    {
        width: 668px;
        padding: var(--inner_gap);
    }



    .project_info .solution .col,
    .project_info .difficulties .col,
    .project_info .results .col
    {
        width: 400px;
    }


    .project_info .solution .data,
    .project_info .difficulties .data,
    .project_info .results .data
    {
        width: calc(100% - 448px);
    }


    .project_info .difficulties .item
    {
        padding: var(--inner_gap);
    }



    .project_info .photo_gallery
    {
        margin-top: 80px;
    }



    .project_info .back_link
    {
        margin-top: 60px;
    }


    .project_info .back_link a
    {
        width: 340px;
    }



    /*------------
        Footer
    ------------*/
    footer .data
    {
        padding-block: var(--cont_padding_double) 60px;
    }


    footer .data .cont
    {
        gap: 40px;
    }



    footer .bottom
    {
        padding-block: 20px;
    }



    footer .info
    {
        width: 400px;
    }


    footer .info .row + .row
    {
        margin-top: 60px;
    }



    footer .menu
    {
        width: 196px;
    }
}
