@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --block_head_offset: 32px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination a
    {
        min-width: 44px;
        height: 40px;
    }



    /*------------
        Header
    ------------*/
    header .menu
    {
        gap: var(--inner_gap_m);
    }


    header .messengers .label
    {
        display: none;
    }


    header .location
    {
        display: none;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .cont
    {
        min-height: 800px;
        padding-block: 260px var(--cont_padding_double);
    }


    .first_section .title
    {
        width: 100%;
        max-width: 100%;
    }


    .first_section .btns
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        width: 100%;
        margin-top: var(--cont_padding_double);
    }


    .first_section .pluses .item
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }


    .first_section .pluses .grid_row
    {
        gap: var(--outside_gap);
    }



    /*----------------
        About info
    ----------------*/
    .about_info .head
    {
        gap: var(--inner_gap_m);
    }


    .about_info .head .block_head
    {
        width: 100%;
        margin-bottom: var(--block_head_offset_s);
    }


    .about_info .head .free,
    .about_info .head .total_area
    {
        width: calc(50% - var(--inner_gap_xs));
        height: 148px;
    }


    .about_info .head .total_area .val
    {
        font-size: 48px;
    }



    .about_info .row
    {
        margin-top: var(--block_padding);

        gap: var(--cont_padding);
    }


    .about_info .row .data
    {
        width: 100%;
        padding-block: var(--block_padding);
    }


    .about_info .row .image
    {
        width: 100%;
    }


    .about_info .row .info
    {
        width: 100%;
    }



    /*-----------
        Stats
    -----------*/
    .stats .grid_row
    {
        justify-content: flex-start;

        --gap_x: var(--block_padding);
        --gap_y: var(--block_padding);
    }


    .stats .grid_row > *
    {
        width: calc(100% / var(--items_per_line) * var(--width_multiplier, 1) - var(--gap_x));
    }



    /*------------------
        Object types
    ------------------*/
    .object_types .block_head .title
    {
        width: 100%;
    }


    .object_types .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .object_types .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .object_types .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .object_types .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*----------------
        Directions
    ----------------*/
    .directions .block_head
    {
        padding-bottom: var(--block_head_offset_s);

        grid-column: 1 / 3;
    }


    .directions .grid
    {
        gap: var(--inner_gap_xl);
        grid-template-columns: repeat(2, 1fr);
    }


    .directions .action_form
    {
        grid-column: 1 / 3;
    }


    .directions .action_form .form .columns
    {
        width: calc(100% + var(--form_columns_gap));
    }


    .directions .action_form .form .submit
    {
        width: 100%;
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .form .line
    {
        margin-bottom: var(--form_line_gap);
    }



    /*------------------
        Microclimate
    ------------------*/
    .microclimate
    {
        padding-bottom: 240px;
    }


    .microclimate .row
    {
        gap: var(--inner_gap);
    }


    .microclimate .grid
    {
        gap: var(--inner_gap);
        grid-template-columns: repeat(2, 1fr);
    }


    .microclimate .item.info
    {
        gap: var(--inner_gap);
    }


    .microclimate .grid .item:last-child
    {
        grid-column: 2;
    }


    .microclimate .item .plus
    {
        transform: translate(calc(-50% - var(--inner_gap) / 2), calc(-50% - var(--inner_gap) / 2));
    }


    .microclimate > .bg
    {
        height: 70%;
    }



    /*-----------
        Steps
    -----------*/
    .steps .block_head .title,
    .steps .block_head .title.big_w
    {
        width: 100%;
    }


    .steps .block_head .desc
    {
        width: 100%;
        margin-top: 0;

        line-height: 1.25;
    }



    .steps .data
    {
        width: 100%;
        max-width: 100%;
    }


    .steps .data .text_block
    {
        margin-bottom: 0;
    }


    .steps .data + .order_btn
    {
        width: 400px;
        margin-top: var(--block_padding);
        margin-left: 0;
    }



    .steps .image,
    .steps .image.small_w
    {
        width: 100%;
        margin-top: var(--block_padding);
    }



    /*----------
        Goal
    ----------*/
    .goal .precision
    {
        width: 340px;
    }


    .goal .text_block
    {
        width: calc(100% - 364px);
        max-width: calc(100% - 364px);
    }


    .goal .info
    {
        min-height: 360px;
    }



    /*-----------------
        Action form
    -----------------*/
    .action_form .form .columns
    {
        width: calc(100% + var(--form_columns_gap));
    }


    .action_form .form .submit
    {
        width: 100%;
    }



    /*-----------------
        Partnership
    -----------------*/
    .partnership .block_head .title
    {
        width: 100%;
    }


    .partnership .block_head .desc
    {
        width: 100%;
    }



    /*------------------
        Free consult
    ------------------*/
    .free_consult .info
    {
        width: calc(100% - 324px);
    }


    .free_consult .desc
    {
        line-height: 1.25;
    }


    .free_consult .form
    {
        width: 300px;
    }



    /*-----------
        Cases
    -----------*/
    .cases .cont > .grid_row
    {
        --items_per_line: 1;
    }


    .cases_page .cont > .grid_row
    {
        --items_per_line: 2;
        --gap_x: var(--inner_gap);
        --gap_y: var(--inner_gap);
    }


    .cases .block_head
    {
        --width_multiplier: 1;
    }


    .cases .swiper
    {
        width: 320px;
    }


    .cases .swiper-button-next,
    .cases .swiper-button-prev
    {
        display: none;
    }


    .cases .case .images .features
    {
        gap: 4px;
    }


    .cases .case .details .arrow
    {
        width: 48px;
    }


    .cases .case .details .arrow .icon
    {
        width: 20px;
    }



    /*------------------
        Technologies
    ------------------*/
    .technologies .block_head
    {
        padding-bottom: 0;
    }


    .technologies .grid_row
    {
        --items_per_line: 2;
    }


    .technologies .we
    {
        padding-block: 148px var(--inner_gap_xl);
    }


    .technologies .we .image
    {
        top: -32px;

        width: 200px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews .cont > .data
    {
        width: calc(100% + var(--cont_padding_double));
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);
    }


    .reviews .grid_row
    {
        --items_per_line: 3;
    }


    .reviews .grid_row.inline
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: calc(var(--block_padding) * -1) 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-block: var(--block_padding) 0;
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .reviews .grid_row.inline::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .reviews .grid_row.inline::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .reviews .grid_row.inline > *
    {
        width: 200px;
        margin: 0;

        scroll-snap-align: start;
    }


    .reviews .review img
    {
        box-shadow: 0 4px 14px -3px rgba(0, 75, 255, .12), 0 9px 44px -2px rgba(0, 75, 255, .22);
    }


    .reviews .all_link
    {
        padding-inline: 0;
    }



    /*-----------------
        Reviews page
    -----------------*/
    .reviews_page .grid_row > *.stats
    {
        --width_multiplier: 3;
    }


    .reviews_page .stats .item .val
    {
        font-size: 24px;
    }



    /*----------------
        Warranties
    ----------------*/
    .warranties .grid_row
    {
        --items_per_line: 2;
        --gap_x: var(--inner_gap_m);
        --gap_y: var(--inner_gap_m);
    }



    /*-----------
        Certs
    -----------*/
    .certs .data
    {
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);
    }


    .certs .grid_row,
    .certs .grid_row.big_offsets
    {
        --items_per_line: 4;
        --gap_y: var(--inner_gap);
    }


    .certs .grid_row.inline
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: calc(var(--block_padding) * -1) 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-block: var(--block_padding) 0;
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .certs .grid_row.inline::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .certs .grid_row.inline::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .certs .grid_row.inline > *
    {
        width: 160px;
        margin: 0;

        scroll-snap-align: start;
    }


    .certs .all_link
    {
        padding-inline: 0;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .info
    {
        width: 100%;
    }


    .contacts_info .map
    {
        width: 100%;
        height: 320px;
        margin-top: var(--inner_gap);
    }



    /*-------------------
        Contacts data
    -------------------*/
    .contacts_data .requisites
    {
        width: 100%;
    }


    .contacts_data .feedback
    {
        width: 100%;
        margin-top: var(--block_padding);
    }



    /*--------------
        Feedback
    --------------*/
    .feedback .data
    {
        padding-block: var(--block_padding);
        padding-inline: var(--block_padding);
    }



    /*----------------
        Guarantees
    ----------------*/
    .guarantees .block_head
    {
        margin-bottom: var(--inner_gap_m);
    }


    .guarantees .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding) * 2);
        margin-inline: calc(var(--cont_padding) * -1);
        padding-block: var(--cont_padding_double) 0;
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .guarantees .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .guarantees .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .guarantees .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }


    .guarantees .item
    {
        padding-inline: var(--inner_gap);
    }


    .guarantees .item .thumb
    {
        width: 148px;
    }



    /*----------------------
        Warranty install
    ----------------------*/
    .warranty_install .block_head
    {
        width: 100%;
        margin-bottom: var(--block_head_offset);
    }


    .warranty_install .items
    {
        width: 100%;
    }



    /*-----------------------
        For save warranty
    -----------------------*/
    .for_save_warranty .data
    {
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);
    }


    .for_save_warranty .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding) * 2);
        margin-block: calc(var(--block_padding) * -1) 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-block: var(--block_padding) 0;
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .for_save_warranty .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .for_save_warranty .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .for_save_warranty .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*-------------------
        Save warranty
    -------------------*/
    .save_warranty .block_head
    {
        width: 100%;
    }


    .save_warranty .grid_row
    {
        width: calc(100% + var(--inner_gap_m));
        margin-top: var(--block_padding);
    }


    .save_warranty .item
    {
        min-height: 0;
    }


    .save_warranty .item .number
    {
        width: 52px;
    }



    /*------------------
        Measurements
    ------------------*/
    .measurements .info
    {
        padding-inline: var(--inner_gap_xl);
    }



    /*----------------------
        Partnership head
    ----------------------*/
    .partnership_head .requests .grid_row
    {
        --items_per_line: 2;
    }



    /*----------------
        About head
    ----------------*/
    .about_head .col
    {
        width: 100%;
        margin-bottom: var(--inner_gap);
    }


    .about_head .info
    {
        width: 100%;
    }



    /*-----------
        Trust
    -----------*/
    .trust .grid_row
    {
        --items_per_line: 2;
    }


    .trust .item
    {
        min-height: 200px;
    }


    .trust .item .val
    {
        font-size: 60px;
    }



    /*------------------
        Project info
    ------------------*/
    .project_info .project_title
    {
        width: 100%;
    }



    .project_info .features
    {
        position: relative;
        top: 0;
        right: 0;

        width: 100%;
        margin-bottom: var(--block_padding);
    }



    .project_info .task
    {
        margin-bottom: var(--block_padding);
    }


    .project_info .task .image img
    {
        min-height: 340px;
    }


    .project_info .task .info
    {
        width: calc(100% - var(--inner_gap) * 2);
    }


    .project_info .solution .text_block ul li,
    .project_info .difficulties .text_block ul li,
    .project_info .results .text_block ul li,
    .project_info .solution .item ul li
    {
        padding-left: 28px;
    }



    .project_info .back_link
    {
        margin-top: var(--outside_gap_m);
    }


    .project_info .back_link a
    {
        width: 100%;
    }



    /*------------------
        Service head
    ------------------*/
    .service_head .data
    {
        min-height: 0;
    }



    .service_head .info,
    .service_head .info.big_w
    {
        width: 100%;
        min-height: 0;

        gap: var(--block_padding);
    }


    .service_head .title small
    {
        font-size: calc(var(--font_size_title_l) - 16px);
    }



    .service_head .btns
    {
        align-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 100%;
        margin-top: var(--block_padding);

        gap: var(--inner_gap_s);
    }


    .service_head .btns .btn
    {
        width: calc(50% - var(--inner_gap_s) / 2);
    }



    .service_head .advantages
    {
        margin-top: var(--block_padding);
        padding-top: var(--inner_gap);
    }


    .service_head .advantages .row
    {
        gap: var(--inner_gap_s);
    }



    .service_head .numbers
    {
        margin-top: var(--block_padding);
        padding-top: var(--inner_gap);
    }



    /*-------------
        Objects
    -------------*/
    .objects .grid_row
    {
        --items_per_line: 2;
    }



    /*------------------
        Service when
    ------------------*/
    .service_when .grid_row.big
    {
        --items_per_line: 2;
    }


    .service_when .grid_row .block_head .desc
    {
        width: 100%;

        font-size: var(--font_size_l);
    }



    /*-------------------
        Service steps
    -------------------*/
    .service_steps .bg
    {
        display: none;
    }


    .service_steps .data.medium
    {
        width: 100%;
        max-width: 100%;
    }



    /*---------------------
        Service systems
    ---------------------*/
    .service_systems .grid_row
    {
        --items_per_line: 1;
    }


    .service_systems .item.horizontal
    {
        --width_multiplier: 1;
    }


    .service_systems .item.horizontal .head,
    .service_systems .item.horizontal .info
    {
        width: 100%;
    }


    .service_systems .item .desc,
    .service_systems .item .pluses,
    .service_systems .item .text_info
    {
        height: auto !important;
    }



    /*--------------------
        Service prices
    --------------------*/
    .service_prices .cols
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .service_prices .cols::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .service_prices .cols::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .service_prices .cols > *
    {
        scroll-snap-align: start;
    }



    .service_prices .bottom .btn
    {
        margin-inline: auto;
    }


    .service_prices .bottom .exp
    {
        width: 100%;
        margin-top: var(--inner_gap);

        text-align: center;
    }



    .service_prices .depends .items
    {
        gap: var(--inner_gap_xs);
    }



    /*--------------------
        Service schema
    --------------------*/
    .service_schema .data .grid_row
    {
        --items_per_line: 2;
    }


    .service_schema .data .btn
    {
        --width_multiplier: 2;
    }



    /*---------
        FAQ
    ---------*/
    .FAQ .accordion
    {
        gap: var(--inner_gap_s);
    }


    .FAQ .col
    {
        width: 100%;
    }



    /*--------------------
        Service modern
    --------------------*/
    .service_modern .grid_row
    {
        --items_per_line: 2;
    }


    .service_modern .item.big .name,
    .service_modern .item.big .desc
    {
        width: 300px;
    }



    /*----------------------
        Service products
    ----------------------*/
    .service_products .grid_row
    {
        --items_per_line: 2;
    }


    .service_products .product .desc
    {
        width: 240px;
    }



    /*--------------------
        Service create
    --------------------*/
    .service_create .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .service_create .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .service_create .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .service_create .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*--------------
        Trust us
    --------------*/
    .trust_us .grid_row
    {
        --items_per_line: 2;
    }


    .trust_us .item .icon
    {
        width: 40px;
    }



    /*------------------
        Service docs
    ------------------*/
    .service_docs .grid_row
    {
        --items_per_line: 2;
    }



    /*------------------
        Service give
    ------------------*/
    .service_give .grid_row
    {
        --items_per_line: 2;
    }


    .service_give .block_head .image
    {
        top: calc(var(--inner_gap) * -1);
    }



    /*-------------------
        Service risks
    -------------------*/
    .service_risks .errors .grid_row
    {
        --items_per_line: 2;
    }



    /*---------------------
        Service tariffs
    ---------------------*/
    .service_tariffs .grid_row,
    .service_tariffs .grid_row.small
    {
        --items_per_line: 2;
    }



    /*-----------------
        Service why
    -----------------*/
    .service_why .grid_row
    {
        --items_per_line: 2;
    }



    /*-------------------
        Service tasks
    -------------------*/
    .service_tasks .grid_row
    {
        display: grid;
        overflow: auto;

        width: calc(100% + var(--cont_padding_double));
        margin-block: 0;
        margin-inline: calc(var(--cont_padding) * -1);
        padding-inline: var(--cont_padding);

        gap: var(--inner_gap_xl);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-padding: 0 var(--cont_padding);
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }


    .service_tasks .grid_row::-webkit-scrollbar
    {
        display: none;

        width: 0;
        height: 0;

        background-color: transparent;
    }


    .service_tasks .grid_row::-webkit-scrollbar-thumb
    {
        background-color: transparent;
    }


    .service_tasks .grid_row > *
    {
        width: 320px;
        margin: 0;

        scroll-snap-align: start;
    }



    /*--------------------------
        Service object types
    --------------------------*/
    .service_object_types .block_head
    {
        gap: var(--inner_gap);
    }


    .service_object_types .block_head .title,
    .service_object_types .block_head .desc
    {
        width: 100%;
    }


    .service_object_types .block_head .image
    {
        display: none;
    }


    .service_object_types .grid_row
    {
        --items_per_line: 2;
    }



    /*---------------------
        Service typical
    ---------------------*/
    .service_typical .grid_row
    {
        --items_per_line: 2;
    }



    /*--------------------
        Service stages
    --------------------*/
    .service_stages .tabs
    {
        width: 100%;
        margin-bottom: var(--inner_gap);
    }


    .service_stages .tabs .btn
    {
        padding-block: var(--inner_gap_xs);
        padding-inline: var(--inner_gap_xs) var(--inner_gap);
    }


    .service_stages .tab_content.active
    {
        width: 100%;
    }



    /*-------------------
        Service signs
    -------------------*/
    .service_signs .grid_row
    {
        --items_per_line: 2;
    }



    /*-------------------------
        Service full prices
    -------------------------*/
    .service_full_prices .cont > .block_head .title,
    .service_full_prices .cont > .block_head .desc
    {
        width: 100%;
    }



    /*-----------------
        Maintenance
    -----------------*/
    .maintenance .grid_row
    {
        --items_per_line: 2;
    }



    /*-----------------------
        Service guarantee
    -----------------------*/
    .service_guarantee .grid_row
    {
        --items_per_line: 2;
    }



    /*----------------------
        Service bad/good
    ----------------------*/
    .service_bad_good .grid_row
    {
        --items_per_line: 1;
    }



    /*--------------
        Services
    --------------*/
    .services .grid_row
    {
        --items_per_line: 2;
    }



    /*---------------
        Documents
    ---------------*/
    .documents .grid_row
    {
        --items_per_line: 2;
    }



    /*------------
        Footer
    ------------*/
    footer .bottom .cont
    {
        gap: var(--inner_gap_m);
    }


    footer .info .row + .row
    {
        gap: var(--inner_gap_xl);
    }


    footer .menu
    {
        max-width: 180px;
    }


    footer .copyright
    {
        width: 100%;
    }
}
