.swiper-button-next,
.swiper-button-prev
{
    margin: 0 !important;

    transition: .2s linear;

    border: 1px solid var(--primary_color);
    background: var(--bg);

    --swiper-navigation-top-offset: 0;
    --swiper-navigation-color: var(--primary_color);
    --swiper-navigation-size: 56px;
    --swiper-navigation-sides-offset: 0;
}


.swiper-button-prev
{
    right: 100% !important;
    left: auto !important;

    margin-right: 93px !important;

    border-radius: var(--border_radius) 0 0 var(--border_radius);
}

.swiper-button-next
{
    right: 100% !important;

    margin-right: 38px !important;

    border-radius: 0 var(--border_radius) var(--border_radius) 0;
}


.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 19px;

    aspect-ratio: 1 / 1;
}

.swiper-button-prev .icon
{
    transform: rotate(180deg);
}


.swiper-button-next:hover,
.swiper-button-prev:hover
{
    color: var(--light_color);
    background: var(--primary_color);
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 11px;

    pointer-events: none;

    gap: 11px;
}


.swiper-pagination-bullet
{
    display: block;

    width: 11px;

    transition: .2s linear;
    pointer-events: auto;

    opacity: 1;
    border: 2px solid #0098ff;
    border-radius: 50%;
    background: #0098ff;

    aspect-ratio: 1 / 1;
}


.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    border-color: #0098ff;
    background: #fff;
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
