/*-----------
    Fonts
-----------*/
@font-face
{
    font-family: 'Manrope';
    font-weight: normal;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/manrope-regular.woff2') format('woff2'),
    url('../fonts/manrope-regular.woff') format('woff'),
    url('../fonts/manrope-regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Manrope';
    font-weight: 500;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/manrope-500.woff2') format('woff2'),
    url('../fonts/manrope-500.woff') format('woff'),
    url('../fonts/manrope-500.ttf') format('truetype');
}

@font-face
{
    font-family: 'Manrope';
    font-weight: 600;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/manrope-600.woff2') format('woff2'),
    url('../fonts/manrope-600.woff') format('woff'),
    url('../fonts/manrope-600.ttf') format('truetype');
}

@font-face
{
    font-family: 'Manrope';
    font-weight: 700;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/manrope-700.woff2') format('woff2'),
    url('../fonts/manrope-700.woff') format('woff'),
    url('../fonts/manrope-700.ttf') format('truetype');
}